<% if params[:category] %>
  <% @training_courses = @search_training_courses %>
<% else %>
  <% @training_courses = @all_training_courses %>
<% end %>

<div class="wrapper">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="content">
				<div class="right-head">
					<div class="">
						<div class="col-xs-2 text-center"><strong>培训报名</strong></div>
						<div class="col-xs-10">
							<%= form_tag training_courses_path, class: "form-inline text-right", method: :get do %>
								<!-- <div class="form-group dropdown">
									<button class="btn btn-default head-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
										培训计划 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
									</ul>
								</div>
								<div class="form-group dropdown">
									<button class="btn btn-default head-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
										培训类别 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
									</ul>
								</div>
								<div class="form-group dropdown">
									<button class="btn btn-default head-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
										培训专业大类 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
									</ul>
								</div>
								<div class="form-group dropdown">
									<button class="btn btn-default head-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
										培训地点 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
									</ul>
								</div> -->
								<div class="form-group">
									<label class="sr-only" for="exampleInputEmail3">search</label>
									<%= text_field_tag :keyword, nil, class: "form-control apply-input", placeholder: "请输入关键字" %>
								</div>
								<%= submit_tag "搜索", class: "btn btn-default head-btn", style: "margin-bottom:2px;"%>
							<% end %>
						</div>
					</div>
				</div>
				<div class="right-body">
				  <% if @training_courses.present? %>
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr class="active text-center">
										<th>计划</th>
										<th width="30%">培训班名称</th>
										<th>培训机构名称</th>
										<th><div class="text-center">地点</div></th>
										<th width="15%">时间</th>
										<th><div class="text-center">计划数</div></th>
										<th><div class="text-center">剩余</div></th>
										<th><div class="text-center">状态</div></th>
									</tr>
								</thead>
								<tbody>
								  <% @training_courses.each do |training_course|%>
										<tr>
											<td scope="row"><%= training_course.created_at.strftime("%Y")%></td>
											<td><%= link_to training_course.name, training_course_path(training_course.id) %></td>
											<td><%= training_course.try(:school).try(:name) %></td>
											<td><%= training_course.try(:training_address) %></td>
											<td><%= training_course.try(:start_time).strftime("%Y-%m-%d") %><br><%= training_course.try(:end_time).strftime("%Y-%m-%d")%></td>
											<td><%= training_course.plan_number %></td>
											<td><%= training_course.remain_applied_number %></td>
											<td>
												<% if training_course.category.try(:include?, "国培") %>
													<%= link_to "报名", "http://www.hvett.com.cn/index.php?action=page&pid=7",target: "_blank"  %>
												<% else %>
													<%= link_to "报名", training_course_path(training_course.id) %>
												<% end %>
											</td>
										</tr>
									<% end %>
								</tbody>
							</table>
							<div class="text-center">
								<%= paginate @training_courses %>
							</div>
						</div>
					<% else %>
					  <div class="alert alert-warning" role="alert">抱歉，暂时还没有培训课程！</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>