<div class="container">
  <div class="title">
    <h3 class="text-center"><%= @training_course.name %></h1>
    <h3 class="text-center">报名表</h1>
  </div>
  <div class="company">
    <div class="text">
      单位（公章）
    </div>
    <div class="line">
    </div>
  </div>
  <table class="table table-bordered">
    <tr>
      <th class="text-center col-sm-1">姓名</th>
      <td></td>
      <th class="text-center col-sm-1">性别</th>
      <td></td>
      <th class="text-center col-sm-1">出生年月</th>
      <td></td>
    </tr>
    <tr>
      <th class="text-center col-sm-1">职务</th>
      <td></td>
      <th class="text-center col-sm-1">职称</th>
      <td></td>
      <th class="text-center col-sm-1">专业</th>
      <td></td>
    </tr>
    <tr>
      <th class="text-center col-sm-1">电话</th>
      <td></td>
      <th class="text-center col-sm-1">手机</th>
      <td></td>
      <th class="text-center col-sm-1">电子邮件</th>
      <td></td>
    </tr>
  </table>
  <table class="infoList">
    <tr>
      <th>注意：</th>
      <td><%= @training_course.remark %></td>
    </tr>
    <tr>
      <th>联系人：</th>
      <td><%= @training_course.linkman %></td>
    </tr>
    <tr>
      <th>电话：</th>
      <td><%= @training_course.phone %></td>
    </tr>
    <tr>
      <th>传真：</th>
      <td><%= @training_course.fax %></td>
    </tr>
    <tr>
      <th>手机：</th>
      <td><%= @training_course.mobile %></td>
    </tr>
    <tr>
      <th>邮箱：</th>
      <td><%= @training_course.email %></td>
    </tr>
  </table>
</div>

<style type="text/css">
  .title {
    margin: 60px 0;
  }
  h3 {
    margin: 20px 0;
  }
  .table-bordered tr, .table-bordered > tbody > tr > th  {
    height: 60px;
    line-height: 60px!important;
  }
  .infoList tr {
    height: 30px;
    line-height: 30px;
  }
  .company {
    height: 40px;
    position: relative;
  }
  .text {
    width: 100px;
    margin-left: 100px;
  }
  .line {
    right: 100px;
    left: 180px;
    position: absolute;
    border-bottom: solid 1px #eee;
  }
</style>