<div class="main-content">
	<div class="panel panel-default">
	  <div class="panel-heading panel-active">修改密码</div>
	  <div class="panel-body panel-default-bg">
	    <%= simple_form_for '', html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|%>

    	  <div class="form-group">
    	  	<%= f.label :province_manager, '账号', class: 'col-sm-1 control-label' %>
    	  	<div class="col-sm-4">
    	  		<%= f.text_field :province_manager, value: current_admin.province_manager, class: 'form-control', disabled: true %>
    	  	</div>
    	  </div>

    	  <div class="form-group">
    	  	<%= f.label :name, '姓名', class: 'col-sm-1 control-label' %>
    	  	<div class="col-sm-4">
    	  		<%= f.text_field :name, value: current_admin.name, class: 'form-control', disabled: true  %>
    	  	</div>
    	  </div>

           <div class="form-group">
            <%= f.label :password, '原密码', class: 'col-sm-1 control-label' %>
            <div class="col-sm-4">
                <%= f.text_field :password, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :new_password, '新密码', class: 'col-sm-1 control-label' %>
            <div class="col-sm-4">
                <%= f.text_field :new_password, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :confirm_new_password, '确认密码', class: 'col-sm-1 control-label' %>
            <div class="col-sm-4">
                <%= f.text_field :confirm_new_password, class: 'form-control' %>
            </div>
          </div>

    	  <div class="col-sm-6 col-sm-offset-2">
    	    <%= f.submit '确认提交', class: "btn btn-primary pull-left" %>
    	  </div>
    	<% end %>
	  </div>
	</div>
</div>