<div class="main-content">
	<div class="panel panel-default">
	  <div class="panel-heading panel-active">修改密码</div>
	  <div class="panel-body panel-default-bg">
	    <%= form_tag update_password_admin_panel_admins_path, html: { class: 'form-horizontal' }, method: :post do %>
          <div class="form-group row">
            <%= label_tag :password, '原密码', class: 'col-sm-1 control-label' %>
            <div class="col-sm-4">
              <%= password_field_tag :password, nil, class: 'form-control', required: true %>
            </div>
          </div>

          <div class="form-group row">
            <%= label_tag :new_password, '新密码', class: 'col-sm-1 control-label' %>
            <div class="col-sm-4">
              <%= password_field_tag :new_password, nil, class: 'form-control', required: true %>
            </div>
          </div>

          <div class="form-group row">
            <%= label_tag :confirm_new_password, '确认密码', class: 'col-sm-1 control-label' %>
            <div class="col-sm-4">
              <%= password_field_tag :confirm_new_password, nil, class: 'form-control', required: true  %>
            </div>
          </div>

    	  <div class="col-sm-6 col-sm-offset-2">
    	    <%= submit_tag '确认提交', class: "btn btn-primary pull-left", data: {disable_with: "提交中..."} %>
    	  </div>
    	<% end %>
	  </div>
	</div>
</div>