<!-- 教育部门 -->
<div class="panel-body js-panel-toggle">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <% flash.each do |key, value| %>
      <% if value.present? %>
          <p class="text-danger"><%= value %></p>
      <% end %>
    <% end %>
    <%= hidden_field_tag :role, params[:role]%>
    <div class="input-group input-group-lg mt-20">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
        <%= f.text_field :email, required: false, autofocus: true, placeholder: "请输入账号", "aria-describedby": "basic-addon1", label: false, class: "form-control" %>
    </div>
    <div class="input-group input-group-lg mt-20">
      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
      <%= f.password_field :password, label: false, required: false, autofocus: true, placeholder: "请输入密码", "aria-describedby": "basic-addon1", class: "form-control" %>
    </div>
    <div class="input-group mt-20">
      <%= f.input :remember_me, as: :boolean, label: "记住密码" if devise_mapping.rememberable? %>
    </div>
    <div class="col-sm-12  mt-20">
      <%= f.button :submit, "登 录", data: {disable_with: '登录中...'}, class: "btn btn-lg btn-primary btn-block center-block", "aria-describedby": "sizing-addon1" %>
    </div>
  <% end %>
</div>