<div id="adminModalForm" class="modal fade admin-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= is_edit_or_update? ? "编辑培训作业" : "添加培训作业" %></h4>
      </div>
      <div id="adminForm" class="modal-body">
        <%= simple_form_for(@task, url: is_edit_or_update? ? admin_panel_task_path(@task) : admin_panel_tasks_path(@task),remote: true, wrapper: :horizontal_form, html: {class: "form-horizontal"}, multipart: true) do |f| %>
          <!-- 当角色为秘书处时读取全部培训课程，否则读取负责人关联的培训课程 -->
          <% if current_admin.role == 'system' %>
            <%= f.input :training_course_id, as: :select, collection: TrainingCourse.all.pluck(:name, :id), required: true, prompt: "请选择培训班级" %>
          <% else %>
            <%= f.input :training_course_id, as: :select, collection: TrainingCourse.where(admin_id: current_admin.id).pluck(:name, :id), required: true, prompt: "请选择培训班级" %>
          <% end %>
          <%= f.input :title, required: true  %>
          <%= f.input :body, as: :text, input_html: {rows: "7"} %>
          <%= f.input :attachment, as: :file, wrapper: :horizontal_file_input  %>
          <p class="text-center"><%= f.button :submit, "确认提交", class: "btn btn-primary", data: {disable_with: "提交中..."} %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>