<tr>
  <td align="left">
  <%= link_to(task.title, admin_panel_task_path(task), format: :js, remote: true) %>
  </td>
  <td>
    <% if task.try(:attachment).present? %>
      <%= link_to(task.try(:attachment).try(:avatar_file_name), download_admin_panel_task_path(task)) %>
    <% end %>
  </td>
  <td align="left"><%= link_to task.try(:training_course).try(:name), "javascript:void(0);" %></td>
  <td><%= link_to task.submitted_count, admin_panel_task_user_tasks_path(task) %></td>
  <td><%= link_to task.unsubmitted_count, unsubmit_users_admin_panel_task_user_tasks_path(task, training_course_id: params[:training_course_id]) %></td>
  <td><%= task.updated_at.strftime("%Y-%m-%d %H:%M")%></td>
</tr>