<ol class="breadcrumb">
  <li>
    <%= link_to "后台", admin_panel_root_path  %>
  </li>
  <li>
    <%= @training_course.name %>
  </li>
  <li>布置作业列表</li>
</ol>

<div class="grades-main-content">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">搜索栏</h3>
    </div>
    <div class="panel-body">
      <%= form_tag admin_panel_training_course_tasks_path(@training_course), method: :get do %>
        <div class="col-sm-3">
          <div class="form-group">
           <%= text_field_tag :keyword, nil, class: "form-control", placeholder: '请输入关键字' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <%= submit_tag "搜索", class: "btn primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <ul class="nav nav-pills nav-content-menu">
        <li role="presentation" class="">
          <!-- 区分秘书处和其它角色查看培训班的路径 -->
          <% if can? :show, TrainingCourse %>
            <%= link_to admin_panel_notification_training_course_path(@training_course.notification, @training_course) do %>
              <span>培训班信息</span>
            <% end %>
          <% else %>
            <%= link_to detail_admin_panel_training_course_path(@training_course) do %>
              <span>培训班信息</span>
            <% end %>
          <% end %>
        </li>
        <li role="presentation" class="<%= params[:controller]=='admin_panel/user_training_courses' ? 'active' : ''%>">
          <%= link_to admin_panel_training_course_user_training_courses_path(@training_course) do %>
           <span class="">学员报名列表</span>
          <% end %>
        </li>
        <li role="presentation" class="<%= params[:controller]=='admin_panel/tasks' ? 'active' : ''%>">
          <%= link_to admin_panel_training_course_tasks_path(@training_course) do %>
           <span class="">布置作业列表</span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <table class="table table-condensed table-bordered table-hover">
        <thead>
          <tr>
            <th>作业标题</th>
            <th>作业附件</th>
            <th>培训班</th>
            <th>已提交作业</th>
            <th>未提交作业</th>
            <th>创建&amp;修正时间</th>
          </tr>
        </thead>
        <tbody>
          <%= render @tasks %>
        </tbody>
      </table>
      <div class="text-center">
        <%= paginate @tasks %>
      </div>
    </div>
  </div>
<div>

<div id="taskNewOrEdit">
  
</div>
