<div class="col-xs-12 report_header_bg">
	<%= image_tag ("logo-title.png"), class:"title_logo" %>
</div>
<div class="col-xs-12 report_banner">
	<div class="container">
		<div class="btn-group btn-group-justified report-btn-g" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-report active"><%=link_to "首页", reports_path %></button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-report"><%=link_to "研究会简介", building_reports_path %></button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-report"><%=link_to "教学研究", building_reports_path %></button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-report"><%=link_to "教学质量", building_reports_path %></button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-report"><%=link_to "精品课程", building_reports_path %></button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-report"><%=link_to "活动简报", building_reports_path %></button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-report"><%=link_to "秘书处事务", building_reports_path %></button></button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-report"><%=link_to "资料下载", building_reports_path %></button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-report"><%=link_to "联系我们", building_reports_path %></button>
			</div>
		</div>
	</div>
</div>
