<div class="col-xs-12 report_footer_bg">
	<div class="container">
		<p class="report_footer_p"><span>版权所有©2014上海市高职高专教学研究会</span><a href="http://www.miitbeian.gov.cn" target="blank">【沪ICP备08109476号-4】</a><span class="pull-right"><%=image_tag "pic.gif" %>&nbsp;访问量：<%=image_tag "6.gif" %><%=image_tag "6.gif" %><%=image_tag "6.gif" %><%=image_tag "6.gif" %></span></p>
	</div>
</div>
