<div class="wrapper">
	<div class="row">
		<div class="col-md-3">
			<%= render "left_bar"%>
		</div>
		<div class="col-md-9">
			<div class="content">
				<div class="right-head">
					<div class="">
						<div class="col-xs-2 text-center"><strong>培训通知</strong></div>
						<div class="col-xs-10">
							<form class="form-inline text-right">
								<div class="form-group dropdown">
									<button class="btn btn-default head-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
										培训计划 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
									</ul>
								</div>
								<div class="form-group dropdown">
									<button class="btn btn-default head-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
										培训类别 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
									</ul>
								</div>
								<div class="form-group dropdown">
									<button class="btn btn-default head-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
										培训专业大类 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
									</ul>
								</div>
								<div class="form-group dropdown">
									<button class="btn btn-default head-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
										培训地点 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
									</ul>
								</div>
								<div class="form-group">
									<label class="sr-only" for="exampleInputEmail3">search</label>
									<input type="email" class="form-control apply-input" id="exampleInputEmail3" placeholder="">
								</div>
								<button type="submit" class="btn btn-default head-btn" style="margin-bottom:2px;">搜索</button>
							</form>
						</div>
					</div>
				</div>
				<div class="right-body">
					<div class="table-responsive">
						<table class="table table-bordered table-hover">		
							<thead>
								<tr class="active text-center">
									<th>计划</th>
									<th width="30%">培训班名称</th>
									<th>培训机构名称</th>
									<th><div class="cell-width">地点</div></th>
									<th width="15%">时间</th>
									<th><div class="cell-width">可报</div></th>
									<th><div class="cell-width">剩余</div></th>
									<th><div class="cell-width">状态</div></th>
								</tr>
							</thead>
							<tbody>
							  <% @training_courses.each do |training_course|%>
									<tr>
										<td scope="row">2015</td>
										<td><%= training_course.name %></td>
										<td><%= training_course.training_agency %></td>
										<td><%= training_course.training_address %></td>
										<td><%= training_course.start_time %>至<%= training_course.end_time %></td>
										<td><%= training_course.plan_number %></td>
										<td><%= training_course.plan_number %></td>
										<td><%= link_to "报名", train_apply_info_path %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
					<%= paginate @training_courses %>
				</div>
			</div>
		</div>
	</div>
</div>