<div class="wrapper">
	<div class="row">
		<div class="col-md-3">
			<%= render "left_bar"%>
		</div>
		<div class="col-md-9">
			<div class="content">
				<div class="right-head">
					<div class="col-xs-2 text-center"><strong>培训通知</strong></div>
				</div>
				<div class="right-body">
					<div class="row font-blue text-center">
						<h1>（国内）（上海）“跨境电子商务骨干教师”师资培训班通知</h1>
						<h4>(2015年7月13日至8月7日)  （项目编号09151004）</h4>
					</div>
					<hr class="divider" style="margin:10px 10px;">
					<div class="container-fluid text-left">
						<ul class="nav-justified">
							<li class="notice-info">发布时间: 2015-04-15</li>
							<li class="notice-info">浏览次数: 8888次</li>
							<li class="notice-info">来源: 上海电子学院</li>
							<li class="notice-info">
								分享:
								<a href="#"><%=image_tag "space.png"%></a>
								<a href="#"><%=image_tag "weibo.png"%></a>
								<a href="#"><%=image_tag "tencent.png"%></a>
								<a href="#"><%=image_tag "renren.png"%></a>
								<a href="#"><%=image_tag "red.png"%></a>	
								<a href="#"><%=image_tag "orange.png"%></a>
							</li>
						</ul>
						<%= render partial:"/train/apply/notice_info"%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
