<div class="wrapper">
	<div class="row">
		<div class="col-md-3">
			<%= render "left_bar"%>
		</div>
		<div class="col-md-9">
			<div class="content">
				<div class="right-head">
					<div class="col-xs-2 text-center"><strong>培训通知</strong></div>
				</div>
				<div class="right-body">
					<ul class="nav nav-stacked notice-index">
						<% @training_courses.each do |training_course| %>
							<li role="presentation">
								<a href="<%= training_course_path(training_course) %>">
									<div class="row notice-index">
										<div class="col-xs-10">
										  <span><%= image_tag "notice_index_icon.png" %></span>
										  <%= training_course.try(:name) %></div>
										<div class="col-xs-2 text-right font-red"><%= training_course.created_at.strftime("%Y-%m-%d") %></div>
									</div>
								</a>
							</li>
							<hr class="divider">
						<% end %>
					</ul>
					<br>
					<div class="text-center">
					  <%= paginate @training_courses %>
          </div>
				</div>
			</div>
		</div>
	</div>
</div>
