<ul id="leftMenu" class="nav nav-pills nav-stacked left-bar">
	<li class="list text-center">
		 <span class="glyphicon"></span> &nbsp;&nbsp;系统菜单
	</li>
	<% if can? :list, TrainingCourse %>
		<li class="text-center">
			<%= link_to list_admin_panel_training_courses_path, class: (controller?("admin_panel/training_courses") && action?("list") ? 'active' : nil) do %>
			  <span class="glyphicon glyphicon-list-alt"></span> &nbsp;&nbsp;待办项目
			<% end %>
		</li>
	<% end %>

	<% if can? :list, AdminUserTask %>
		<li class="text-center">
			<%= link_to list_admin_panel_admin_user_tasks_path, class: (controller?("admin_panel/admin_user_tasks") && action?("list") ? 'active' : nil) do %>
			  <span class="glyphicon glyphicon-list-alt"></span> &nbsp;&nbsp;待评作业
			<% end %>
		</li>
	<% end %>
	<!-- 评审专家不显示该栏目 -->
  <% unless current_admin.specialist? %>
		<li class="text-center">
			<%= link_to "javascript:void(0);", class: (controller?("admin_panel/training_courses") && action?("index", "show") || controller?("admin_panel/tasks", "admin_panel/user_tasks", "admin_panel/user_training_courses", "admin_panel/journals", "admin_panel/user_teachers", "admin_panel/student_feedbacks", "admin_panel/appraises", "admin_panel/manager_feedbacks") ? 'active' : nil) do %>
			  <span class="glyphicon glyphicon-book"></span> &nbsp;&nbsp;培训班级
			<% end %>
			<ul class="dropdown-menu sub-menu text-center" role="menu">
			  <!-- 当前培训机构培训班列表入口 -->
			  <% if can? :list_by_school, TrainingCourse %>
			    <li><%= link_to("培训班", list_by_school_admin_panel_training_courses_path) %></li>
			  <% elsif can? :list_by_teacher, TrainingCourse %>
			    <li><%= link_to("培训班", list_by_teacher_admin_panel_training_courses_path) %></li>
			  <% else %>
			    <li><%= link_to("培训班", admin_panel_notifications_path) %></li>
			  <% end %>

		    <li><%= link_to("报名列表", list_admin_panel_user_training_courses_path ) %></li>
		    <li><%= link_to("培训作业", list_admin_panel_tasks_path) %></li>
		    <li><%= link_to("学员作业", list_admin_panel_user_tasks_path) %></li>
		    <li><%= link_to("日志列表", list_admin_panel_journals_path) %></li>
		    <li><%= link_to("学员反馈", list_admin_panel_student_feedbacks_path) %></li>
		    <li><%= link_to("学员评师", list_admin_panel_appraises_path) %></li>
		    <li><%= link_to("负责人反馈", list_admin_panel_manager_feedbacks_path) %></li>
		  </ul>
		</li>
	<% end %>

	<% if can? [:index], Admin %>
		<li class="text-center">
			<%= link_to admin_panel_admins_path(role: :system), class: ((controller?("admin_panel/admins") && params[:role]) || controller?("admin_panel/teachers") ? 'active' : nil) do %>
			  <span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;机构人员
			<% end %>
	    <ul class="dropdown-menu sub-menu text-center" role="menu">
	      <li><%= link_to("管理部门", admin_panel_admins_path(role: :system)) %></li>
	      <li><%= link_to("教育部门", admin_panel_admins_path(role: :education)) %></li>
	      <li><%= link_to("培训机构", admin_panel_admins_path(role: :trainer)) %></li>
	      <li><%= link_to("评审专家", admin_panel_admins_path(role: :specialist)) %></li>
	      <li><%= link_to("班级负责人", admin_panel_admins_path(role: :management)) %></li>
	      <li><%= link_to("授课教师", admin_panel_teachers_path) %></li>
	    </ul>
		</li>
	<% end %>

	<% if can? :manage, Event %>
		<li class="text-center">
			<%= link_to admin_panel_events_path, class: (controller?("admin_panel/events") ? 'active' : nil) do %>
			  <span class="glyphicon glyphicon-bookmark"></span> &nbsp;&nbsp;网站内容
			<% end %>
		</li>
	<% end %>

	<% if can? :manage, Material %>
		<li class="text-center">
			<%= link_to admin_panel_materials_path, class: (controller?("admin_panel/materials") ? 'active' : nil) do %>
			  <span class="glyphicon glyphicon-book"></span> &nbsp;&nbsp;培训资料
			<% end %>
		</li>
	<% end %>

	<!-- <li class="text-center">
		<%#= link_to admin_panel_system_index_path, class: (controller?("admin_panel/system") ? 'active' : nil) do %>
		  <span class="glyphicon glyphicon-cog"></span> &nbsp;&nbsp;系统功能
		<% #end %>
	</li> -->
	<% if can? :manage, User %>
		<li class="text-center">
			<%= link_to admin_panel_users_path, class: (controller?("admin_panel/users") ? 'active' : nil) do %>
			  <span class="glyphicon glyphicon-cog"></span> &nbsp;&nbsp;注册用户
			<% end %>
		</li>
	<% end %>
	<li class="text-center">
		<%= link_to edit_profile_admin_panel_admins_path, class: (controller?("admin_panel/admins") && action?("edit_profile", "edit_password") ? 'active' : nil) do %>
		  <span class="glyphicon glyphicon-wrench"></span> &nbsp;&nbsp;账户设置
		<% end %>
		<ul class="dropdown-menu sub-menu text-center" role="menu">
	    <li><%= link_to("个人信息", edit_profile_admin_panel_admins_path) %></li>
	    <li><%= link_to("修改密码", edit_password_admin_panel_admins_path) %></li>
	  </ul>
	</li>
</ul>

<script type="text/javascript">
  $(function(){
    $("#leftMenu li").mouseenter(function(){
      $(this).addClass("open");
      $(this).find("a").attr("aria-expanded",true)
    });
    $("#leftMenu li").mouseleave(function(){
      $(this).removeClass("open");
      $(this).find("a").attr("aria-expanded",false)
    });
  });
</script>