
<ul class="nav nav-pills nav-stacked left-bar">
	<li class="list text-center">
		 <span class="glyphicon"></span> &nbsp;&nbsp;系统菜单
	</li>
	<li class="text-center">
		<%= link_to "" do %>
		  <span class="glyphicon glyphicon-list-alt"></span> &nbsp;&nbsp;代办项目
		<% end %>
	</li>
	<li class="text-center">
		<%= link_to "" do %>
		  <span class="glyphicon glyphicon-book"></span> &nbsp;&nbsp;培训班级
		<% end %>
	</li>
	<li class="text-center">
		<%= link_to "" do %>
		  <span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;机构人员
		<% end %>
	</li>
	<li class="text-center">
		<%= link_to "" do %>
		  <span class="glyphicon glyphicon-cog"></span> &nbsp;&nbsp;系统功能
		<% end %>
	</li>
	<li class="text-center">
		<%= link_to "edit_admin_panel_admin_registration_path" do %>
		  <span class="glyphicon glyphicon-wrench"></span> &nbsp;&nbsp;账户设置
		<% end %>
	</li>
</ul>