<ul id="leftMenu" class="nav nav-pills nav-stacked left-bar">
	<li class="list text-center">
		 <span class="glyphicon"></span> &nbsp;&nbsp;系统菜单
	</li>
	<li class="text-center">
		<%= link_to admin_panel_projects_path do %>
		  <span class="glyphicon glyphicon-list-alt"></span> &nbsp;&nbsp;待办项目
		<% end %>
	</li>
	<li class="text-center">
		<%= link_to "" do %>
		  <span class="glyphicon glyphicon-book"></span> &nbsp;&nbsp;培训班级
		<% end %>
		<ul class="dropdown-menu sub-menu text-center" role="menu">
	    <li><%= link_to("培训班", admin_panel_grades_path) %></li>
	    <li><%= link_to("培训报名", admin_panel_user_training_courses_path ) %></li>
	    <li><%= link_to("培训作业", admin_panel_tasks_path) %></li>
	    <li><%= link_to("作业提交", admin_panel_user_tasks_path) %></li>
	    <li><%= link_to("日志提交", admin_panel_journals_path) %></li>
	    <li><%= link_to("学员反馈", admin_panel_user_appraise_trains_path) %></li>
	    <li><%= link_to("学员评师", admin_panel_user_teachers_path) %></li>
	    <li><%= link_to("负责人反馈", "#") %></li>
	  </ul>
	</li>
	<li class="text-center">
		<%= link_to admin_panel_users_path do %>
		  <span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;机构人员
		<% end %>
	</li>
	<li class="text-center">
		<%= link_to "" do %>
		  <span class="glyphicon glyphicon-cog"></span> &nbsp;&nbsp;系统功能
		<% end %>
	</li>
	<li class="text-center">
		<%= link_to "edit_admin_panel_admin_registration_path" do %>
		  <span class="glyphicon glyphicon-wrench"></span> &nbsp;&nbsp;账户设置
		<% end %>
	</li>
</ul>

<script type="text/javascript">
  $(function(){
    $("#leftMenu li").mouseenter(function(){
      $(this).addClass("open");
      $(this).find("a").attr("aria-expanded",true)
    });
    $("#leftMenu li").mouseleave(function(){
      $(this).removeClass("open");
      $(this).find("a").attr("aria-expanded",false)
    });
  });
</script>