<ul id="detailMenu" class="nav nav-pills nav-content-menu">
  <li class=<%= "active" if params[:controller]=="admin_panel/admins" && (params[:role].blank? || params[:role] == "system")%>><%= link_to("管理部门", admin_panel_admins_path(role: :system)) %></li>
  <li class=<%= "active" if params[:role] == "education"%>><%= link_to("教育部门", admin_panel_admins_path(role: :education)) %></li>
  <li class=<%= "active" if params[:role] == "trainer"%>><%= link_to("培训机构", admin_panel_admins_path(role: :trainer)) %></li>
  <li class=<%= "active" if params[:role] == "specialist"%>><%= link_to("评审专家", admin_panel_admins_path(role: :specialist)) %></li>
  <li class=<%= "active" if params[:role] == "management"%>><%= link_to("班级负责人", admin_panel_admins_path(role: :management)) %></li>
  <li class=<%= "active" if params[:controller] == "admin_panel/teachers" %>><%= link_to("授课教师", admin_panel_teachers_path) %></li>
</ul>