<ol class="breadcrumb">
  <li>
    <%= link_to "后台", admin_panel_root_path  %>
  </li>
  <li>
    <%= link_to "用户列表", admin_panel_users_path  %>
  </li>
  <li><%= link_to @user.name, admin_panel_user_path(@user) %></li>
  <li class="active">修改</li>
</ol>

<div class="panel-heading panel-active">用户：<%= @user.name %></div>
<div class="panel-body panel-default-bg">
  <%= simple_form_for [:admin_panel, @user], html: { class: 'form-horizontal' }, remote: true do |f|%>
    <div class="form-group">
      <%= label_tag nil, "", class: 'col-sm-3 control-label' %>
      <div class="col-sm-4">
        <div class="text-danger" id="errorAlert"></div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, '新密码', class: 'col-sm-3 control-label' %>
      <div class="col-sm-4">
        <%= f.password_field :password, placeholder: "输入新密码", class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, '确认密码', class: 'col-sm-3 control-label' %>
      <div class="col-sm-4">
        <%= f.password_field :password_confirmation, placeholder: "确认新密码", class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-4">
      <%= f.submit '确认提交', class: "btn btn-primary pull-left" %>
    </div>
  <% end %>
</div>