<ol class="breadcrumb">
  <li>
    <%= link_to "后台", admin_panel_root_path  %>
  </li>
  <li class="active" >
    培训班级
  </li>
  <li class="active" >
    学员作业
  </li>
</ol>

<div class="grades-main-content">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">搜索栏</h3>
    </div>
    <div class="panel-body">
      <%= form_tag list_admin_panel_user_tasks_path, method: :get do %>
        <div class="col-sm-3">
          <div class="form-group">
           <%= text_field_tag :keyword, nil, class: "form-control", placeholder: '请输入关键字' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <%= submit_tag "搜索", class: "btn primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading have-menu">
      <ul id="detailMenu" class="nav nav-pills nav-content-menu">
        <%= render "nav"%>
      </ul>
    </div>
    <div class="panel-body">
      <table class="table table-condensed table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center">学员</th>
            <th class="text-center">联系方式</th>
            <th class="text-center">作业标题</th>
            <th class="text-center">作业附件</th>
            <th class="text-center">创建&amp;修正时间</th>
            <th class="text-center">状态</th>
            <th class="text-center">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @user_tasks.each do |user_task| %>
          <tr class="text-center">
            <td><%= user_task.try(:user).name %></td>
            <td><%= user_task.try(:user).email %><br><%= user_task.try(:user).phone %></td>
            <td><%= user_task.title %></td>
            <td><%= link_to(truncate(user_task.try(:attachment).try(:avatar_file_name), length: 30), download_admin_panel_task_user_task_path(user_task.task, user_task), title: user_task.try(:attachment).try(:avatar_file_name) ) %></td>
            <td><%= user_task.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td>已完成</td>
            <td><%= link_to "查看", admin_panel_user_task_path(user_task)%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center">
        <%= paginate @user_tasks %>
      </div>
    </div>
  </div>
<div>
