<%= simple_form_for [:admin_panel, @training_course, @notification], html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: {radio_buttons: :horizontal_radio_and_checkboxes } do |f|%>
  <%= f.input :category, label: '分类', collection: Notification::ListCategory.to_a.reverse_each{|x| x.reverse!}, as: :radio_buttons %>
  <div class="form-group">
    <%= f.label :title, '标题', class: 'col-sm-3 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :title, placeholder: "请输入标题", class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sub_title, '副标题', class: 'col-sm-3 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :sub_title, placeholder: "请输入副标题", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :author, '作者/出处', class: 'col-sm-3 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :author, placeholder: "请输入作者/出处", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content, '内容', class: 'col-sm-3 control-label' %>
    <div class="col-sm-4">
      <%= f.kindeditor :content, :window_onload => true, :width => 800, :height => 300, class: 'form-control' %>
    </div>
  </div>

  <% if @notification.present? && @notification.attachment.present? %>
    <div class="form-group">
      <%= f.label :attachment, '已上传附件', class: 'col-sm-3 control-label' %>
      <div class="col-sm-4">
        <%= @notification.attachment.avatar_file_name %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :attachment, '上传附件', class: 'col-sm-3 control-label' %>
    <div class="col-sm-4">
      <%= f.file_field :attachment, class: 'form-control' %>
    </div>
  </div>

  <div class="col-sm-6 col-sm-offset-3">
  	<%= f.submit '确认提交', data: {disable_with: "提交中..."}, class: "btn btn-primary pull-left" %>
  </div>
<% end %>