<ol class="breadcrumb">
  <li>
    <%= link_to "后台", admin_panel_root_path  %>
  </li>
  <li>
    <%= link_to "通知列表", admin_panel_notifications_path  %>
  </li>
  <li class="active"><%= params[:keyword].present? ? "搜索结果" : "全部"%></li>
</ol>

<div class="main-content">
	<div class="panel panel-default">
	  <div class="panel-heading panel-active">搜索栏</div>
	  <div class="panel-body panel-default-bg">
	    <div class="row">
	      <%= form_tag admin_panel_notifications_path, method: :get do %>
					<div class="col-sm-3">
				    <div class="form-group">
				     <%= text_field_tag :keyword, nil, class: "form-control", placeholder: '请输入关键字' %>
					  </div>
					</div>
					<div class="col-sm-3">
				    <div class="form-group">
				      <%= submit_tag "搜索", class: "btn primary" %>
					  </div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
	  <!-- <div class="panel-heading panel-active">评审项目</div> -->
	  <!-- 培训机构的权限是新建申报项目 -->
	  <div class="panel-heading panel-active" style="overflow: hidden;">
	    <span class="pull-left">培训项目</span>
	    <%= render "new_notification"%>
	  </div>
	  <div class="panel-body panel-default-bg">
	    <table class="table table-condensed table-bordered table-hover">
	    	<thead>
	    	  <tr>
	    	  	<th class="text-center">分类</th>
	    	  	<th class="text-center">标题</th>
	    	  	<th class="text-center">子标题</th>
	    	  	<th class="text-center">作者</th>
		    		<th class="text-center">浏览量</th>
		    		<th class="text-center">培训班</th>
		    		<% if can? :edit, Notification %>
		    		  <th class="text-center" colspan="2">操作</th>
		    		<% end %>
	    	  </tr>
	    	</thead>
	    	<tbody>
	    	  <%= render @notifications %>
		   	</tbody>
	    </table>
	    <div class="text-center">
	    	<%= paginate @notifications %>
	    </div>
	  </div>
	</div>
</div>