<div class="wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="content">
				<div class="right-head">
					<div class="col-xs-2 text-center"><strong>培训通知</strong></div>
				</div>
				<div class="right-body">
					<div class="container-fluid font-blue text-center">
						<h2><%= @notification.try(:title) %></h2>
						<h4><%= @notification.try(:sub_title) %></h4>
					</div>
					<hr class="divider">
					<p></p>
					<div class="container-fluid text-left">
						<ul class="nav-justified">
							<li class="notice-info">发布时间: <%= @notification.try(:created_at).strftime("%Y-%m-%d") %></li>
							<li class="notice-info">浏览次数: <%= @notification.try(:view_count) %>次</li>
							<li class="notice-info">来源: <%= @notification.try(:author) %></li>
							<li class="notice-info">
								分享:
								<span class="pull-right"><%= render "common/baidu_share" %></span>
							</li>
						</ul>
						<%= raw @notification.try(:content) %>
					</div>
					<div class="text-left" style="margin-top: 20px; text-indent: 14px;">附件下载：<%= link_to @notification.try(:attachment).try(:avatar_file_name),download_notification_path(@notification)%></div>
					<div class="text-center" style="margin-top: 30px">
						<%= link_to "我要报名", training_course_path(@notification.training_course), class: "btn btn-primary apply-btn"%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
