<% if can? :new, Admin %>
  <div class="row">
    <div id="addJournal" class="add-btn pull-right">
      <%= link_to(new_admin_panel_admin_path(role: "specialist"),remote: true, format: :js) do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 评审专家
      <% end %>
    </div>
  </div>
<% end %>
<hr>
<table class="table table-condensed table-bordered table-hover">
  <thead>
    <tr>
      <th>账号</th>
      <th>姓名</th>
      <th>邮箱</th>
      <th>联系电话</th>
      <th>最后登录时间</th>
      <th>最后登录IP</th>
      <% if can? [:edit, :destroy], Admin%>
        <th>操作</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.username %></td>
      <td><%= admin.name %></td>
      <td><%= admin.email %></td>
      <td><%= admin.phone %><br><%= admin.mobile %></td>
      <td><%= admin.last_sign_in_at %></td>
      <td><%= admin.last_sign_in_ip %></td>
      <% if can? [:edit, :destroy], Admin%>
        <td>
          <%= link_to("编辑",edit_admin_panel_admin_path(admin, role: params[:role]),remote: true, format: :js)  %>
          <%= link_to("删除", admin_panel_admin_path(admin, role: params[:role]) , method: :delete, data: {confirm: "确定要删除当前用户？"}) %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= paginate @admins %>
</div>