<div class="main-content wrapper">
  <div class="panel-list">
    <div class="panel-main">
      <div class="panel-bg gap-64">专业负责人培训</div>
      <div class="panel-body bordered">
		  	<div class="panel panel-default half-width pull-left">
					<div class="panel-heading oh text-center">
				    <span class="active-title">专业负责人培训通知</span>
				    <%= link_to "更多", notifications_path, class: "pull-right active-link" %>
				  </div>
					<div class="panel-body">
					  <ul>
					    <!-- 最多显示5行 -->
					    <% if @profession_notifications.present? %>
						  	<% @profession_notifications.each do |profession_notification| %>
							  	<li>
							  	  <a href="<%= notification_path(profession_notification) %>" class="col-sm-10 pull-left"><%= profession_notification.title %></a>
							  	  <span class="pull-right"><%= profession_notification.created_at.strftime("%Y-%m-%d") %></span>
							  	</li>
							  <% end %>
							<% else %>
							  <div class="alert alert-warning" role="alert">该栏目暂时还没有培训通知</div>
							<% end %>
					  </ul>
					</div>
				</div>
			  <div class="panel panel-default half-width pull-right">
				  <div class="panel-heading oh text-center">
				  	<span class="active-title">专业负责人培训报名</span>
				    <%= link_to "更多", training_courses_path, class: "pull-right active-link" %>
				  </div>
				  <div class="panel-body">
				    <ul>
					    <!-- 最多显示5行 -->
					    <% if @profession_training_courses.present? %>
						  	<% @profession_training_courses.each do |profession_training_course| %>
							  	<li>
							  	  <a href="<%= training_course_path(profession_training_course)%>" class="col-sm-12 pull-left"><%= profession_training_course.name %></a>
							  	</li>
							  <% end %>
						  <% else %>
						    <div class="alert alert-warning" role="alert">该栏目暂时还没有培训报名</div>
						  <% end %>
					  </ul>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-content wrapper">
  <div class="panel-list">
    <div class="panel-main">
      <div class="panel-bg gap-70">骨干教师培训</div>
      <div class="panel-body bordered">
		  	<div class="panel panel-default half-width pull-left">
					<div class="panel-heading text-center oh">
				    <span class="active-title">骨干教师培训通知</span>
				    <%= link_to "更多", notifications_path, class: "pull-right active-link" %>
				  </div>
					<div class="panel-body">
					  <ul>
					    <!-- 最多显示5行 -->
					    <% if @teacher_notifications.present? %>
						    <% @teacher_notifications.each do |teacher_notification| %>
							  	<li>
							  	  <a href="<%= notification_path(teacher_notification) %>" class="col-sm-10 pull-left"><%= teacher_notification.title %></a>
							  	  <span class="pull-right"><%= teacher_notification.created_at.strftime("%Y-%m-%d") %></span>
							  	</li>
							  <% end %>
							<% else %>
							  <div class="alert alert-warning" role="alert">该栏目暂时还没有培训通知</div>
							<% end %>
					  </ul>
					</div>
				</div>
			  <div class="panel panel-default half-width pull-right">
				  <div class="panel-heading text-center oh">
				  	<span class="active-title">骨干教师培训报名</span>
				    <%= link_to "更多", training_courses_path, class: "pull-right active-link" %>
				  </div>
				  <div class="panel-body">
				    <ul>
					    <!-- 最多显示5行 -->
					    <% if @teacher_training_courses.present? %>
						  	<% @teacher_training_courses.each do |teacher_training_course| %>
							  	<li>
							  	  <a href="<%= training_course_path(teacher_training_course)%>" class="col-sm-12 pull-left"><%= teacher_training_course.name %></a>
							  	</li>
							  <% end %>
							<% else %>
							  <div class="alert alert-warning" role="alert">该栏目暂时还没有培训报名</div>
							<% end %>
					  </ul>
				  </div>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<div class="main-content wrapper">
  <div class="panel-list">
    <div class="panel-main">
      <div class="panel-bg gap-80">国培项目</div>
      <div class="panel-body bordered">
		  	<div class="panel panel-default half-width pull-left">
					<div class="panel-heading text-center oh">
				    <span class="active-title">培训通知</span>
				    <%= link_to "更多", notifications_path, class: "pull-right active-link" %>
				  </div>
					<div class="panel-body">
					  <ul>
					    <!-- 最多显示5行 -->
					    <% if @training_notifications.present? %>
						    <% @training_notifications.each do |training_notification|%>
							  	<li>
							  	  <a href="<%= notification_path(training_notification) %>" class="col-sm-10 pull-left">&nbsp;&nbsp;<%= training_notification.title %></a>
							  	  <span class="pull-right"><%= training_notification.created_at.strftime("%Y-%m-%d") %></span>
							  	</li>
							  <% end %>
							<% else %>
							  <div class="alert alert-warning" role="alert">该栏目暂时还没有培训通知</div>
							<% end %>
					  </ul>
					</div>
				</div>
			  <div class="panel panel-default half-width pull-right">
				  <div class="panel-heading text-center oh">
				  	<span class="active-title">培训报名</span>
				    <%= link_to "更多", training_courses_path, class: "pull-right active-link" %>
				  </div>
				  <div class="panel-body">
				    <ul>
					    <!-- 最多显示5行 -->
					    <% if @training_courses.present? %>
						    <% @training_courses.each do |training_course| %>
							  	<li>
							  	  <a href="<%= training_course_path(training_course)%>" class="col-sm-12 pull-left"><%= training_course.name %></a>
							  	</li>
							  <% end %>
							<% else %>
							  <div class="alert alert-warning" role="alert">该栏目暂时还没有培训报名</div>
							<% end %>
					  </ul>
				  </div>
				</div>
			</div>
		  </div>
		</div>
  </div>
</div>

<div class="main-content wrapper">
	<div class="panel-main">
    <div class="panel-bg gap-64">友情链接</div>
	  <div class="panel-body bordered">
	    <div class="row">
			  <div class="col-xs-6 col-md-2 col-sm-2">
			    <a href="http://www.moe.gov.cn" target="_blank" class="thumbnail fix-height">
			      <%= image_tag("flink-1.png")%>
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-2 col-sm-2">
			    <a href="http://www.tech.net.cn/web/index.aspx" target="_blank" class="thumbnail fix-height">
			      <%= image_tag("flink-2.png")%>
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-2 col-sm-2">
			    <a href="http://www.icve.com.cn/portal/" target="_blank" class="thumbnail fix-height">
			      <%= image_tag("flink-3.png")%>
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-2 col-sm-2">
			    <a href="http://www.enetedu.com" target="_blank" class="thumbnail fix-height">
			      <%= image_tag("flink-4.png")%>
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-2 col-sm-2">
			    <a href="http://lm.hvett.com.cn/site/index.page" target="_blank" class="thumbnail fix-height">
			      <%= image_tag("flink-5.png")%>
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-2 col-sm-2">
			    <a href="http://www.cchve.com.cn/hep/plugin/gaozhi/index/index.jsp" target="_blank" class="thumbnail fix-height">
			      <%= image_tag("flink-6.png")%>
			    </a>
			  </div>
			</div>
	  </div>
	</div>
</div>
