<div class="main-content wrapper">
  <div class="panel-list">
  	<div class="panel panel-default half-width pull-left">
			<div class="panel-heading panel-bg oh">
		    <span class="pull-left title-bg pxtz">培训通知</span>
		    <%= link_to "MORE", train_notice_index_path, class: "pull-right" %>
		  </div>
			<div class="panel-body">
			  <ul>
			    <!-- 最多显示10行 -->
			  	<li>
			  	  <a href="<%= train_notice_info_path %>" class="col-sm-10 pull-left">（国内）（上海）“高职院校《建筑工程技术》”专业骨干教师师资培训班通知（项目编号09151007）</a>
			  	  <span class="pull-right">2015-04-22</span>
			  	</li>
			  	<li>
			  	  <a href="<%= train_notice_info_path %>" class="col-sm-10 pull-left">（国内）（上海）“跨境电子商务骨干教师”师资培训班通知（项目编号09151004）</a>
			  	  <span class="pull-right">2015-04-22</span>
			  	</li>
			  	<li>
			  	  <a href="<%= train_notice_info_path %>" class="col-sm-10 pull-left">（国内）（上海）嵌入式智能设计师资培训通知（二期09151006-1）（项目编号09151006）</a>
			  	  <span class="pull-right">2015-04-22</span>
			  	</li>
			  	<li>
			  	  <a href="<%= train_notice_info_path %>" class="col-sm-10 pull-left">（国内）（上海）嵌入式智能设计师资培训通知（二期09151006-2）（项目编号09151006）</a>
			  	  <span class="pull-right">2015-04-22</span>
			  	</li>
			  	<li>
			  	  <a href="<%= train_notice_info_path %>" class="col-sm-10 pull-left">（国内）（上海）“全国高职高专信息化教学技术及信息化课程开发”师资培训班通知（项目编号09151005）</a>
			  	  <span class="pull-right">2015-04-22</span>
			  	</li>
			  	<li>
			  	  <a href="<%= train_notice_info_path %>" class="col-sm-10 pull-left">（国内）（上海）“全国高职高专工业机器人技术应用”国培师资培训班通知（项目编号09151002）</a>
			  	  <span class="pull-right">2015-04-22</span>
			  	</li>
			  	<li>
			  	  <a href="<%= train_notice_info_path %>" class="col-sm-10 pull-left">（国内）（上海）（Oracle）--大型数据库（Oracle数据库维护与开发）师资培训（项目编号：09151003）</a>
			  	  <span class="pull-right">2015-04-22</span>
			  	</li>
			  	<li>
			  	  <a href="<%= train_notice_info_path %>" class="col-sm-10 pull-left">（企业顶岗）（上海）RFID典型应用系统设计（国培代码：09152005）</a>
			  	  <span class="pull-right">2015-02-12</span>
			  	</li>
			  	<li>
			  	  <a href="<%= train_notice_info_path %>" class="col-sm-10 pull-left">（企业顶岗）（上海）RFID典型应用系统设计（国培代码）</a>
			  	  <span class="pull-right">2015-02-2</span>
			  	</li>
			  </ul>
			</div>
		</div>
	  <div class="panel panel-default half-width pull-right">
		  <div class="panel-heading panel-bg oh">
		  	<span class="pull-left title-bg pxbm">培训报名</span>
		    <%= link_to "MORE", "", class: "pull-right" %>
		  </div>
		  <div class="panel-body">
		    <ul>
			    <!-- 最多显示10行 -->
			  	<li>
			  	  <a href="" class="col-sm-12 pull-left">（国内）（上海）“高职院校《建筑工程技术》”专业骨干教师师资培训班通知（项目编号09151007）</a>
			  	</li>
			  	<li>
			  	  <a href="" class="col-sm-12 pull-left">（国内）（上海）“跨境电子商务骨干教师”师资培训班通知（项目编号09151004）</a>
			  	</li>
			  	<li>
			  	  <a href="" class="col-sm-12 pull-left">（国内）（上海）嵌入式智能设计师资培训通知（二期09151006-1）（项目编号09151006）</a>
			  	</li>
			  	<li>
			  	  <a href="" class="col-sm-12 pull-left">（国内）（上海）嵌入式智能设计师资培训通知（二期09151006-2）（项目编号09151006）</a>
			  	</li>
			  	<li>
			  	  <a href="" class="col-sm-12 pull-left">（国内）（上海）“全国高职高专信息化教学技术及信息化课程开发”师资培训班通知（项目编号09151005）</a>
			  	</li>
			  	<li>
			  	  <a href="" class="col-sm-12 pull-left">（国内）（上海）“全国高职高专工业机器人技术应用”国培师资培训班通知（项目编号09151002）</a>
			  	</li>
			  	<li>
			  	  <a href="" class="col-sm-12 pull-left">（国内）（上海）（Oracle）--大型数据库（Oracle数据库维护与开发）师资培训（项目编号：09151003）</a>
			  	</li>
			  	<li>
			  	  <a href="" class="col-sm-12 pull-left">（企业顶岗）（上海）RFID典型应用系统设计（国培代码：09152005）</a>
			  	</li>
			  	<li>
			  	  <a href="" class="col-sm-12 pull-left">（企业顶岗）（上海）RFID典型应用系统设计（国培代码）</a>
			  	</li>
			  </ul>
		  </div>
		</div>
  </div>
	<div class="panel panel-default">
	  <div class="panel-heading panel-bg">
	    <span class="title-bg yqlj">友情链接</span>
	  </div>
	  <div class="panel-body">
	    <div class="row">
			  <div class="col-xs-6 col-md-2 col-sm-2">
			    <a href="http://www.moe.gov.cn" target="_blank" class="thumbnail fix-height">
			      <%= image_tag("flink-1.png")%>
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-2 col-sm-2">
			    <a href="http://www.tech.net.cn/web/index.aspx" target="_blank" class="thumbnail fix-height">
			      <%= image_tag("flink-2.png")%>
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-2 col-sm-2">
			    <a href="http://www.icve.com.cn/portal/" target="_blank" class="thumbnail fix-height">
			      <%= image_tag("flink-3.png")%>
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-2 col-sm-2">
			    <a href="http://www.enetedu.com" target="_blank" class="thumbnail fix-height">
			      <%= image_tag("flink-4.png")%>
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-2 col-sm-2">
			    <a href="http://lm.hvett.com.cn/site/index.page" target="_blank" class="thumbnail fix-height">
			      <%= image_tag("flink-5.png")%>
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-2 col-sm-2">
			    <a href="http://www.cchve.com.cn/hep/plugin/gaozhi/index/index.jsp" target="_blank" class="thumbnail fix-height">
			      <%= image_tag("flink-6.png")%>
			    </a>
			  </div>
			</div>
	  </div>
	</div>
</div>
