<div class="main-content">
	<div class="panel panel-default">
	  <div class="panel-heading panel-active">搜索栏</div>
	  <div class="panel-body panel-default-bg">
	    <div class="row">
			  <div class="col-sm-3">
			    <div class="form-group">
			      <input type="date" class="form-control">
				  </div>
				</div>
				<div class="col-sm-3">
			    <div class="form-group">
			      <input type="select" class="form-control">
				  </div>
				</div>
				<div class="col-sm-3">
			    <div class="form-group">
			      <input type="select" class="form-control">
				  </div>
				</div>
				<div class="col-sm-3">
			    <div class="form-group">
			      <input type="submit" value="搜  索" class="btn btn-primary">
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
	  <!-- <div class="panel-heading panel-active">评审项目</div> -->
	  <!-- 培训机构的权限是新建申报项目 -->
	  <div class="panel-heading panel-active" style="overflow: hidden;">
	    <span class="pull-left">申报项目</span>
	    <%= link_to new_admin_panel_training_course_path, class: "btn btn-xs pull-right btn-active" do %>
	       <span class="glyphicon glyphicon-plus-sign"></span> 新建项目
	    <% end %>
	  </div>
	  <div class="panel-body panel-default-bg">
	    <table class="table">
	    	<thead>
	    	  <tr>
	    	  	<th class="col-sm-2 text-center">培训班</th>
		    		<th class="col-sm-2 text-center">培训机构</th>
		    		<th class="text-center">培训起至时间</th>
		    		<th class="text-center">培训费用</th>
		    		<th class="col-sm-2 text-center">教师&负责人</th>
		    		<th class="text-center">计划</th>
		    		<th class="text-center">研究会</th>
		    		<th class="text-center">评审专家</th>
		    		<th class="text-center">操作</th>
	    	  </tr>
	    	</thead>
	    	<tbody>
	    	  <% @training_courses.each do |training_course|%>
		    	  <tr class="tr-default-bg">
		    	  	<td class="text-center"><%= training_course.name %></td>
			    		<td class="text-center"><%= training_course.try(:school).try(:name) %></td>
			    		<td class="text-center"><%= training_course.start_time %> - <%= training_course.end_time %></td>
			    		<td class="text-center"><%= training_course.training_fee %></td>
			    		<td class="text-center"><%#= training_course.grade_leader %></td>
			    		<td class="text-center"><%= training_course.plan_number %></td>
			    		<td class="text-center text-active-status">已通过</td>
			    		<td class="text-center text-active-status">已通过</td>
			    		<td class="text-center">
			    		  <%= link_to admin_panel_training_course_path(training_course.id) do %>
			    		    <span class="glyphicon glyphicon-log-in"></span>
			    		  <% end %>
			    		</td>
		    	  </tr>
		    	<% end %>
	    	</tbody>
	    </table>
	  </div>
	</div>
	<nav>
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>