<div class="main-content">
	<div class="panel panel-default">
	  <div class="panel-heading panel-active">搜索栏</div>
	  <div class="panel-body panel-default-bg">
	    <div class="row">
			  <div class="col-sm-3">
			    <div class="form-group">
			      <input type="date" class="form-control">
				  </div>
				</div>
				<div class="col-sm-3">
			    <div class="form-group">
			      <input type="select" class="form-control">
				  </div>
				</div>
				<div class="col-sm-3">
			    <div class="form-group">
			      <input type="select" class="form-control">
				  </div>
				</div>
				<div class="col-sm-3">
			    <div class="form-group">
			      <input type="submit" value="搜  索" class="btn btn-primary">
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
	  <!-- <div class="panel-heading panel-active">评审项目</div> -->
	  <!-- 培训机构的权限是新建申报项目 -->
	  <div class="panel-heading panel-active" style="overflow: hidden;">
	    <span class="pull-left">申报项目</span>
	  </div>
	  <div class="panel-body panel-default-bg">
	    <table class="table">
	    	<thead>
	    	  <tr>
	    	  	<th class="col-sm-2 text-center">培训班</th>
		    		<th class="col-sm-2 text-center">培训机构</th>
		    		<th class="text-center">培训起止时间</th>
		    		<th class="text-center">培训费用</th>
		    		<th class="text-center">计划数</th>
		    		<th class="text-center">评审专家</th>
		    		<th class="text-center">研究会</th>
		    		<th class="text-center">教委</th>
		    		<th class="text-center">报名通知</th>
	    	  </tr>
	    	</thead>
	    	<tbody>
	    	  <% @training_courses.each do |training_course|%>
		    	  <tr class="tr-default-bg">
		    	  	<td class="text-center"><%= link_to truncate(training_course.try(:name), length: 15), admin_panel_training_course_path(training_course.id), 'data-toggle': "tooltip", 'data-placement': "top", title: training_course.try(:name) %></td>
			    		<td class="text-center"><%= training_course.try(:school).try(:name) %></td>
			    		<td class="text-center">
			    		  <p>起始：<%= training_course.start_time.try(:strftime, "%F")%></p>
			    		  <p>终止：<%= training_course.end_time.try(:strftime,"%F") %></p>
			    	  </td>
			    		<td class="text-center"><%= training_course.training_fee %></td>
			    		<td class="text-center"><%= training_course.plan_number %></td>

			    		<!-- 评审专家 -->
			    	  <% if training_course.unchecked? %>
			    		  <td class="text-center text-active-status"><%= link_to "审核", checked_by_expert_admin_panel_training_course_path(training_course.id), data: {confirm: '确认通过审核吗？'}, method: :patch %></td>
			    		  <td>----</td>
			    		  <td>----</td>
              <!-- 研究会 -->
              <% elsif training_course.checked_by_expert? %>
			    		   <td class="text-center text-active-status">已审核</td>
			    		   <td class="text-center text-active-status"><%= link_to "审核", checked_by_seminar_admin_panel_training_course_path(training_course.id), data: {confirm: '确认通过审核吗？'}, method: :patch %></td>
			    		   <td>----</td>

			    	  <!-- 教委 -->
			    		<% elsif training_course.checked_by_seminar? %>
			    		  <td class="text-center text-active-status">已审核</td>
			    		  <td class="text-center text-active-status">已审核</td>
			    		  <td class="text-center text-active-status"><%= link_to "审核", checked_by_educator_admin_panel_training_course_path(training_course.id), data: {confirm: '确认通过审核吗？'}, method: :patch %></td>
			    		<% else %>
			    		  <td class="text-center text-active-status">已审核</td>
			    		  <td class="text-center text-active-status">已审核</td>
			    		  <td class="text-center text-active-status">已审核</td>
			    		<% end%>
              <td class="text-center">
                <% if notification_present?(training_course.id) %>
                  <%= link_to admin_panel_training_course_notification_path(training_course, training_course.notification), 'data-no-turbolink' => true, class: 'btn btn-xs btn-primary' do %>
                    <span class="glyphicon glyphicon-bell"></span> 报名通知
                  <% end %>
                <% else %>
                  <%= link_to new_admin_panel_training_course_notification_path(training_course), 'data-no-turbolink' => true, class: 'btn btn-xs btn-primary' do %>
                    <span class="glyphicon glyphicon-bell"></span> 报名通知
                  <% end %>
                <% end %>
              </td>
		    	  </tr>
		    	<% end %>
	    	</tbody>
	    </table>
	  </div>
	</div>
	<%#= paginate @training_courses %>
</div>

<script type="text/javascript">
	$(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>