<div class="main-content">
	<div class="panel panel-default">
	  <!-- <div class="panel-heading panel-active">评审项目</div> -->
	  <!-- 培训机构的权限是新建申报项目 -->
	  <div class="panel-heading panel-active" style="overflow: hidden;">
	    <span class="pull-left">培训项目</span>
	    <%= render "new_notification"%>
	  </div>
	  <div class="panel-body panel-default-bg">
	    <table class="table table-condensed table-bordered table-hover">
	    	<thead>
	    	  <tr>
	    	  	<th class="text-center">分类</th>
	    	  	<th class="text-center">培训班</th>
		    		<th class="text-center">培训机构</th>
		    		<th class="text-center">培训起止时间</th>
		    		<th class="text-center">计划数</th>
		    		<th class="text-center">可否报名</th>
		    		<th class="text-center">报名人员</th>
		    		<th class="text-center" colspan="3">操作</th>
	    	  </tr>
	    	</thead>
	    	<tbody>
	    	  <% @training_courses.each do |training_course| %>
					  <tr class="tr-default-bg">
							<td class="text-center"><%= TrainingCourse::ListCategory[training_course.category.to_sym] %></td>
							<td class="text-center"><%= link_to truncate(training_course.try(:name), length: 15), detail_admin_panel_training_course_path(training_course.id), 'data-toggle': "tooltip", 'data-placement': "top", title: training_course.try(:name), target: "_blank" %></td>
							<td class="text-center"><%= training_course.try(:school).try(:name) %></td>
							<td class="text-center">
							  <%= training_course.start_time.try(:strftime, "%F")%> ~
							  <%= training_course.end_time.try(:strftime,"%F") %>
						  </td>
							<td class="text-center"><%= training_course.plan_number %></td>
							<td class="text-center"><%= training_course.be_applied ? content_tag(:div, "是", class: "btn btn-xs btn-success") : content_tag(:div, "否", class: "btn btn-xs btn-danger") %></td>
							<td class="text-center">
						  	<%= link_to admin_panel_training_course_user_training_courses_path(training_course), title: '报名人员列表' do %>
						      <span class="glyphicon glyphicon-user"></span>
						    <% end %>
						  </td>
						  <td class="text-center">
						  	<%= link_to detail_admin_panel_training_course_path(training_course), class: "btn btn-xs btn-primary", title: '查看' do %>
						      <span class="glyphicon glyphicon-eye-open"></span> 查看
						    <% end %>
						  </td>
						  <td class="text-center">
						  	<%= link_to new_admin_panel_training_course_manager_feedback_path(training_course), class: "btn btn-xs btn-primary", title: '查看' do %>
						      <span class="glyphicon glyphicon-envelope"></span> 反馈
						    <% end %>
						  </td>
						  <td class="text-center">
						  	<%= link_to admin_panel_training_course_course_resources_path(training_course), class: "btn btn-xs btn-primary", title: '课程附件' do %>
						      <span class="glyphicon glyphicon-th-list"></span> 课程附件
						    <% end %>
						  </td>
						</tr>
					<% end %>
		   	</tbody>
	    </table>
	    <div class="text-center">
	    	<%= paginate @training_courses %>
	    </div>
	  </div>
	</div>
</div>

<script type="text/javascript">
	$(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>