<ol class="breadcrumb">
  <li>
    <%= link_to "后台", admin_panel_root_path  %>
  </li>
  <li>
    <%= link_to "培训班列表", list_admin_panel_training_courses_path  %>
  </li>
  <li class="active"><%= params[:keyword].present? ? "搜索结果" : "全部"%></li>
</ol>

<div class="main-content">
	<div class="panel panel-default">
	  <div class="panel-heading panel-active">搜索栏</div>
	  <div class="panel-body panel-default-bg">
	    <div class="row">
			  <%= form_tag admin_panel_training_courses_path, method: :get do %>
					<div class="col-sm-3">
				    <div class="form-group">
				     <%= text_field_tag :q, nil, class: "form-control", placeholder: '请输入关键字' %>
					  </div>
					</div>
					<div class="col-sm-3">
				    <div class="form-group">
				      <%= submit_tag "搜索", class: "btn primary" %>
					  </div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
	  <!-- <div class="panel-heading panel-active">评审项目</div> -->
	  <!-- 培训机构的权限是新建申报项目 -->
	  <div class="panel-heading panel-active" style="overflow: hidden;">
	    <span class="pull-left">培训项目</span>
	  </div>
	  <div class="panel-body panel-default-bg">
	    <table class="table table-condensed table-bordered table-hover">
	    	<thead>
	    	  <tr>
	    	    <th class="col-sm-2 text-center">培训类型</th>
	    	  	<th class="col-sm-2 text-center">培训班</th>
		    		<th class="col-sm-2 text-center">培训机构</th>
		    		<th class="text-center">培训起止时间</th>
		    		<th class="text-center">计划数</th>
		    		<th class="text-center">是否可报名</th>
		    		<th class="text-center">报名通知</th>
		    		<th class="text-center">报名人员</th>
	    	  </tr>
	    	</thead>
	    	<tbody>
	    	  <% @training_courses.each do |training_course|%>
	    	    <tr class="tr-default-bg">
							<td class="text-center"><%= TrainingCourse::ListCategory[training_course.try(:category).try(:to_sym)] %></td>
							<td class="text-center"><%= link_to truncate(training_course.try(:name), length: 15), "javascript:void(0);", 'data-toggle': "tooltip", 'data-placement': "top", title: training_course.try(:name) %></td>
							<td class="text-center"><%= training_course.try(:school).try(:name) %></td>
							<td class="text-center">
							  <%= training_course.start_time.try(:strftime, "%F")%> ~
							  <%= training_course.end_time.try(:strftime,"%F") %>
						  </td>
							<td class="text-center"><%= training_course.plan_number %></td>
							<td class="text-center"><%= training_course.be_applied ? content_tag(:div, "是", class: "btn btn-xs btn-success") : content_tag(:div, "否", class: "btn btn-xs btn-danger") %></td>
						  <td class="text-center">
						    <% if training_course.notification.present? %>
						      <div class="btn btn-xs btn-success">已创建</div>
						    <% else %>
						      <div class="btn btn-xs btn-danger">未创建</div>
						    <% end %>
						  </td>
						  <td class="text-center">
						  	<%= link_to admin_panel_training_course_user_training_courses_path(training_course), title: '报名人员列表' do %>
						      <span class="glyphicon glyphicon-user"></span>
						    <% end %>
						  </td>
						</tr>
	    	  <% end %>
	    	</tbody>
	    </table>
	    <div class="text-center">
	    	<%= paginate @training_courses %>
	    </div>
	  </div>
	</div>
</div>

<script type="text/javascript">
	$(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>
