<div class="main-content">
  <div class="panel panel-default">
	  <div class="panel-heading panel-active">项目信息</div>
	  <div class="panel-body panel-default-bg">
	    <table class="table">
	      <tr>
	      	<th>培训班级名称</th>
	      	<td><%= @training_course.name %></td>
	      </tr>
	      <tr>
	      	<th>培训机构</th>
	      	<td><%= @training_course.try(:school).try(:name) %> </td>
	      </tr>
	      <tr>
	      	<th>培训项目负责人</th>
	      	<td><%= @training_course.project_leader %></td>
	      </tr>
	      <tr>
	      	<th>班级负责人</th>
	      	<td><%#= @training_course.grade_leader %></td>
	      </tr>
	      <tr>
	      	<th>培训时间</th>
	      	<td><%= @training_course.start_time %> ~ <%= @training_course.end_time %></td>
	      </tr>
	      <tr>
	      	<th>计划人数</th>
	      	<td><%= @training_course.plan_number %></td>
	      </tr>
	      <tr>
	      	<th>培训地点</th>
	      	<td><%= @training_course.training_address %></td>
	      </tr>
	      <tr>
	      	<th>联系方式</th>
	      	<td><%= @training_course.contact %></td>
	      </tr>

	      <tr>
	      	<th>项目信息</th>
	      	<td><%= raw @training_course.info %></td>
	      </tr>

	      <tr>
	      	<th>机构背景</th>
	      	<td><%= raw @training_course.training_background %></td>
	      </tr>

	      <tr>
	      	<th>培训目标</th>
	      	<td><%= raw @training_course.training_target %></td>
	      </tr>
	      <tr>
	      	<th>培训内容</th>
	      	<td><%= raw @training_course.training_content %></td>
	      </tr>
	      <tr>
	      	<th>考核方法</th>
	      	<td><%= raw @training_course.check_method %></td>
	      </tr>
	    </table>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading panel-active">
	    <div class="btn-toolbar">
	      <%= link_to "历史评审", "javascript:void(0);", class: "btn btn-primary btn-toggle btn-active"%>
	      <%= link_to "评审项目", "javascript:void(0);", class: "btn btn-primary btn-toggle"%>
	    </div>
	  </div>

	  <!-- 历史评审 -->
	  <div class="panel-body panel-default-bg js-toggle-panel">
	    <table class="table">
	    	<thead>
	    		<th class="col-sm-2 text-center">评审单位</th>
	    		<th class="col-sm-2 text-center">评审时间</th>
	    		<th class="col-sm-2 text-center">状态</th>
	    		<th class="text-center">评价</th>
	    	</thead>
	    	<tbody>
	    		<tr class="text-center tr-default-bg">
	    			<td>研究会</td>
	    			<td>2015-04-06</td>
	    			<td class="text-active-status">已通过</td>
	    			<td>该课程获得了中华人民共和国的国家级课题选拔第一名</td>
	    		</tr>
	    		<tr class="text-center tr-default-bg">
	    			<td>研究会</td>
	    			<td>2015-04-06</td>
	    			<td class="text-active-status">已通过</td>
	    			<td>该课程获得了中华人民共和国的国家级课题选拔第一名</td>
	    		</tr>
	    	</tbody>
	    </table>
	  </div>

    <!-- 评审项目 -->
	  <div class="panel-body panel-default-bg js-toggle-panel">
	    <div class="form-group">
			  <textarea class="form-control custom-control" rows="6" style="resize:none"></textarea>
			</div>
      <div class="btn-group">
      	<input type="submit" value="通过审批" class="btn btn-primary">
      </div>
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="btn-group">
      	<input type="submit" value="无法通过" class="btn btn-danger">
      </div>
	  </div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$(".js-toggle-panel").last().hide();
		$(".panel-active .btn-toolbar a").each(function(index){
			var _this = $(this);
			var _index = index;
      _this.click(function(){
        $(".js-toggle-panel").eq(_index).show().siblings(".js-toggle-panel").hide();
        _this.addClass("btn-active").siblings("").removeClass("btn-active");
      })
		});
	})
</script>