<div class="grades-main-content">
  <div class="panel panel-primary">
    <div class="panel-heading have-menu">
      <ul id="detailMenu" class="nav nav-pills nav-content-menu">
        <%#= render "nav"%>日志列表
      </ul>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>签到时间</th>
            <th>姓名</th>
             <th>培训班</th>
            <th>日志内容</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @journals.each do |journal| %>
          <tr>
            <td><%= journal.created_at.strftime("%Y-%m-%d %H:%M")%></td>
            <td><%= journal.try(:user).try(:name)%></td>
            <td><%= link_to truncate(journal.try(:training_course).try(:name), length: 30), admin_panel_notification_training_course_path(journal.training_course.notification, journal.training_course), title: journal.try(:training_course).try(:name)%></td>
            <td><%= truncate(journal.content, length: 30)%></td>

            <td><%= link_to "查看", admin_panel_user_training_course_journal_path(@user_training_course, journal) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center">
        <%= paginate @journals %>
      </div>
    </div>
  </div>
<div>
