<div class="main-content">
  <div class="panel panel-default">
	  <div class="panel-heading panel-active">
	    查看日志
	  </div>
	  <div class="panel-body panel-default-bg">
	    <table class="table">
	      <tr>
	      	<th class="col-sm-1">用户</th>
	      	<td><%= @journal.try(:user).try(:name) %></td>
	      </tr>
	      <tr>
	      	<th class="col-sm-1">培训班</th>
	      	<td><%= @journal.try(:training_course).try(:name) %></td>
	      </tr>
	      <tr>
	      	<th class="col-sm-1">标题</th>
	      	<td><%= @journal.title %></td>
	      </tr>
	      <tr>
	      	<th class="col-sm-1">内容</th>
	      	<td><%= @journal.content %></td>
	      </tr>
	      <tr>
	      	<th class="col-sm-1">签到时间</th>
	      	<td><%= @journal.add_date.strftime("%Y-%m-%d %H:%M") %></td>
	      </tr>
	      <tr>
	      	<th class="col-sm-1">创建时间</th>
	      	<td><%= @journal.created_at.strftime("%Y-%m-%d %H:%M") %></td>
	      </tr>
	    </table>
	  </div>
	</div>
</div>