<div class="container-fluid">
  <div class="wrapper">
    <div class="row">
      <div class="personal_center right_message_tab col-md-3">
        <%= render "user/personal_nav"%>
      </div>
      <div class="col-sm-9 courses">
        <div class="panel panel-default course-panel">
          <div class="panel-heading">
            <%= render 'course_nav'%>
          </div>
          <div class="panel-body course-content">
            <h3 class="text-center">学员评价</h3>
            <hr>
            <h4>学员评价教师</h4>
            <p>培训班：<%= @training_course.name %></p>
            <p>学员：<%= current_user.name %></p>
            <hr>
            <h4>培训教师列表</h4>
            <%= form_for [@training_course, @appraise], html: { class: 'form-horizontal' }, remote: true do |f| %>
              <% @teacher_ids.each_with_index do |teacher, index|%>
                <% teacher_index = index %>
                <div class="col-sm-12 js-teacher-list" style="margin-top: 30px">
                  <div class="col-sm-2">
                    <%= teacher.name %>
                  </div>
                  <div class="col-sm-10 text-right">
                    <% Appraise::Degree.each do |key, val|%>
                      <%= radio_button_tag("appraise_#{teacher_index}[degree]", key)%>
                      <%= label_tag :degree, val %>
                    <% end %>
                  </div>
                  <div class="row col-sm-6 col-sm-offset-6">
                    <%= text_area_tag "appraise_#{teacher_index}[remark]", nil, size: "80x4", class: "form-control", required: true %>
                    <p class="text-danger error-alert"></p>
                  </div>
                </div>
              <% end %>
              <hr>
              <div class="col-sm-12 text-center" style="margin-top: 30px">
                <%= submit_tag "确认提交", class: "btn btn-primary js-submit" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $(".js-submit").click(function(){
      $(".js-teacher-list").each(function(){
        var _this = $(this);
        radioLength = _this.find("input[type='radio']:checked").length;
        if(radioLength === 0) {
          _this.find(".error-alert").text("请勾选相应选项!");
          return false;
        } else {
          _this.find(".error-alert").text("");
        }
      })
    })
  })
</script>