<footer>
  <div class="links center-block text-center">
    <%= link_to "网站首页", root_path, target: "_blank" %>
    <span> | </span>
    <%= link_to "学员入口", new_user_session_path, target: "_blank" %>
    <span> | </span>
    <%= link_to "中华人民共和国教育部", "http://www.moe.gov.cn/", target: "_blank"%>
    <span> | </span>
    <%= link_to "中国高职高专教育网", "http://www.tech.net.cn/web/index.aspx", target: "_blank"%>
    <span> | </span>
    <%= link_to "高等职业学校教师专业能力发展平台", "http://www.hvett.com.cn/", target: "_blank"%>
    <span> | </span>
    <%= link_to "上海教育", "http://www.shmec.gov.cn/", target: "_blank"%>
    <span> | </span>
    <%= link_to "上海高职教育服务平台", "http://www.gzgz.edu.sh.cn/SHGZJYW/Web/_Index.aspx?ReturnUrl=%2f", target: "_blank"%>
  </div>
  <div class="contact text-center">
    联系电话（上海市高职高专教学研究会秘书处）： 业务咨询（021-54253051；021-57132803） 技术支持（021-60675958-1069） 证书办理（021-54253051；021-57132803）
    <br>QQ群（226595293） 邮箱咨询（shsgzgzjxyjh@163.com）
  </div>
  <div class="info text-center">
    地址： 上海市徐汇区中山南二路620号1号楼102室 邮编：200032  网络技术支持：大唐邦彦(上海)信息技术有限公司
  </div>
</footer>