<footer>
  <div class="links center-block text-center">
    <%= link_to "网站首页"%>
    <span> | </span>
    <%= link_to "学员入口"%>
    <span> | </span>
    <%= link_to "中华人民共和国教育部"%>
    <span> | </span>
    <%= link_to "中国高职高专教育网"%>
    <span> | </span>
    <%= link_to "职业教育数字化学习中心"%>
    <span> | </span>
    <%= link_to "全国高校教师网络培训中心"%>
    <span> | </span>
    <%= link_to "全国高等职业教育教师培训网"%>
    <span> | </span>
    <%= link_to "高等职业教育数字化学习资源中心"%>
  </div>
  <div class="contact text-center">
    联系电话（秘书处）： 业务咨询（010-58581444） 技术支持（010-58581854） 证书办理（010-58581602） QQ群（226595293） 邮箱咨询（2061748017@qq.com）
  </div>
  <div class="info text-center">
    地址： 北京市朝阳区惠新东街4号富盛大厦 邮编：100029 网络技术支持： 北创软件
  </div>
</footer>