<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr class="active text-center">
        <th colspan="4">培训班级信息</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">培训班级名称</th>
        <td colspan="3"><%= @training_course.name %></td>
      </tr>
      <tr>
        <th scope="row">培训机构</th>
        <td colspan="3"><%= @training_course.name %></td>
      </tr>
      <tr>
        <th scope="row">培训项目负责人</th>
        <td>钱老师</td>
        <th>联系方式</th>
        <td>021-68029034<br>13501773686<br>icd-nec@126.com</td>
      </tr>
      <tr>
        <th scope="row">班级负责人</th>
        <td colspan="3">梁宝军 0451-86703959 13796607033</td>
      </tr>
      <tr>
        <th scope="row">起止时间</th>
        <td><%= @training_course.start_time %>至<%= @training_course.end_time %></td>
        <th>计划人数</th>
        <td class="font-red"><%= @training_course.plan_number %></td>
      </tr>
      <tr>
        <th scope="row">培训天数</th>
        <td>24</td>
        <th>剩余名额</th>
        <td class="font-green"><%= @training_course.name %></td>
      </tr>
      <tr>
        <th scope="row">培训地点</th>
        <td colspan="3"><%= @training_course.training_address %></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<% if @present_user_training_course.present? %>
  <%= link_to "已报名", "javascript:void(0)", class: "apply-btn" %>
<% else %>
  <% if user_signed_in? %>
    <%= form_for UserTrainingCourse.new, remote: true do |f| %>
      <%= f.hidden_field :training_course_id, value: @training_course.id %>
      <%= f.hidden_field :user_id, value: @current_user.id %>
      <%= f.submit "我要报名", class: "apply-btn" %>
    <% end %>
  <% else %>
    <%= link_to "请先登录", new_user_session_path, class: "apply-btn" %>
  <% end %>
<% end %>
<br>