<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr class="active text-center">
        <th colspan="4">培训班级信息</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">培训班级名称</th>
        <td colspan="3"><%= @training_course.try(:name) %></td>
      </tr>
      <tr>
        <th scope="row">培训机构</th>
        <td colspan="3"><%= @training_course.try(:school).try(:name) %></td>
      </tr>
      <tr>
        <th scope="row">培训项目负责人</th>
        <td><%= @training_course.try(:project_leader) %></td>
        <th>联系方式</th>
        <td><%= @training_course.try(:contact) %></td>
      </tr>
      <tr>
        <th scope="row">班级负责人</th>
        <td colspan="3"><%= @training_course.try(:grade_leader) %></td>
      </tr>
      <tr>
        <th scope="row">起止时间</th>
        <td><%= @training_course.try(:start_time).try(:strftime, "%Y-%m-%d") %>至<%= @training_course.try(:end_time).try(:strftime, "%Y-%m-%d")%></td>
        <th>计划人数</th>
        <td class="font-red"><%= @training_course.plan_number%></td>
      </tr>
      <tr>
        <th scope="row">培训天数</th>
        <td><%= (@training_course.try(:end_time).try(:to_date) - @training_course.try(:start_time).try(:to_date)).to_i %>天</td>
        <th>剩余名额</th>
        <td class="font-green"><%= @training_course.remain_applied_number %></td>
      </tr>
      <tr>
        <th scope="row">培训地点</th>
        <td colspan="3"><%= @training_course.try(:training_address) %></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<% if !@training_course.be_applied%>
  <%= link_to "暂时不能报名", "javascript:void(0)", class: "btn btn-danger" %>
<%# elsif Time.now > @training_course.start_apply_time && Time.now < @training_course.end_apply_time %>
  <%#= link_to "进行中", "javascript:void(0)", class: "btn btn-primary apply-btn" %>
<% elsif Time.now < @training_course.start_apply_time %>
  <%= link_to "未开始", "javascript:void(0)", class: "btn btn-primary apply-btn" %>
<% elsif Time.now > @training_course.end_apply_time %>
  <%= link_to "已结束", "javascript:void(0)", class: "btn btn-default" %>
<% elsif @training_course.plan_number.to_i - @user_training_courses.count <= 0 %>
  <%= link_to "报名人数已满", "javascript:void(0)", class: "btn btn-danger" %>
<% elsif @present_user_training_course.present? %>
  <%= link_to "已报名", "javascript:void(0)", class: "btn btn-primary apply-btn" %>
<% else %>
  <% if user_signed_in? %>
    <%= form_for UserTrainingCourse.new, remote: true do |f| %>
      <%= f.hidden_field :training_course_id, value: @training_course.id %>
      <%= f.hidden_field :user_id, value: @current_user.id %>
      <%= f.submit "我要报名", data: {disable_with: '报名中...'}, class: "btn btn-primary apply-btn" %>
    <% end %>
  <% else %>
    <%= link_to "请先登录", new_user_session_path, class: "btn btn-lg btn-primary apply-btn" %>
  <% end %>
<% end %>
<br>
