<div class="wrapper">
	<div class="row">
		<div class="col-md-3 fnt-size">
			<div class="left-nav text-center">
				<span >培训计划</span>
			</div>
			<ul class="left-border text-center ">
				<li ><a href="#" >平台简介</a></li>
				<hr class="dashed">
				<li  class="alink text-center"><a href="#" style="color: #1b49b3;">平台背景</a></li>
				<hr class="dashed">
				<li ><a href="#">培训通知</a></li>
				<hr class="dashed">
				<li ><a href="#">培训报名</a></li>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="row  right-nav fnt-size">
				<span >平台简介</span>
			</div>	
			<div class="row sub-main">
				<h3 class="text-center" style="color: #1b49b3;margin-bottom:20px">教育部办公厅 财政部办公厅关于做好职业院校<br/>教师素质提高计划2013年度项目申报工作的通知</h3>
			
				<hr class="dashed">	
				<div class="container-fluid ">
					<div class="row" style="margin-left:0;margin-bottom:30px">
						<div class="col-md-3 about-info"><span>发布时间：2015-4-15</span></div>
						<div class="col-md-2 about-info "><span>浏览次数：88888</span></div>
						<div class="col-md-3 about-info text-right"><span>来源：上海电子学院</span></div>
						<div class="col-md-4 about-info text-center"><span>分享：
						<a href="#"><%=image_tag "space.png"%></a>
						<a href="#"><%=image_tag "weibo.png"%></a>
						<a href="#"><%=image_tag "tencent.png"%></a>
						<a href="#"><%=image_tag "renren.png"%></a>
						<a href="#"><%=image_tag "red.png"%></a>	
						<a href="#"><%=image_tag "orange.png"%></a>
						</span>
						</div>
					</div>
					<div class="row bg-edu">
						<span>教师厅函[2013]6号</span>
					</div>
				</div>
				<p class="col-md-12 text-justify">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们知道，Web前端开发是计算机行业里是比较年轻的一个成员，它可以说是由前期的网页制作转化来的。正是因为它是IT行业里比较年轻的成员，所以我们在学习之前，首先想到的都是这门技术的就业和发展情况。我们知道一个行业的兴起，是因为市场上对这个行业的大量需求，市场的需求决定了这个行业的发展前景。Web前端开发的发展前景怎么样？，</p>
				<p class="col-md-12 text-justify">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;首先我们来看一下ppt上的两个统计图，第一个是互联网宽带接入用户从2002年到2013年的增长情况，第二个是互联网用户和移动互联网用户从2006年到2012年的增长情况。由两个图可以看出现在互联网用户与移动互联网用户越来越多，随着社会的发展，科技的进步以及智能手机的普及，现在我么已经进入了互联网的时代。由此可以看出市场对web前端的需求量非常大，</p>
				<p class="col-md-12 text-justify"style="margin-bottom:60px;">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;首先我们来看一下ppt上的两个统计图，第一个是互联网宽带接入用户从2002年到2013年的增长情况，第二个是互联网用户和移动互联网用户从2006年到2012年的增长情况。由两个图可以看出现在互联网用户与移动互联网用户越来越多，随着社会的发展，科技的进步以及智能手机的普及，现在我么已经进入了互联网的时代。由此可以看出市场对web前端的需求量非常大，</p>
			</div>	
		</div>
	</div>
</div>