<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag "zhongde/banner.png", class: "img-responsive"%>
      </div>

      <div class="item">
        <%= image_tag "zhongde/banner.png", class: "img-responsive"%>
      </div>
    
      <div class="item">
        <%= image_tag "zhongde/banner.png", class: "img-responsive"%>
      </div>

      <div class="item">
        <%= image_tag "zhongde/banner.png", class: "img-responsive"%>
      </div>
    </div>
  </div>

  <div class="panel panel-default col-sm-6 pull-left mt-26">
    <div class="panel-heading">学校简介</div>
    <div class="panel-body">
      北京大学创办于1898年，初名京师大学堂，是中国第一所国立综合性大学，也是当时中国最高教育行政机关。辛亥革命后，于1912年改为现名。北京大学为民族的振兴和解放、国家的建设和发展、社会的文明和进步做出了不可替代的贡献，在中国走向现代化的进程中起到了重要的先锋作用。近年来，在“211工程”和“985工程”的支持下，北京大学进入了一个新的历史发展阶段，在人才培养、师资队伍建设、教学科研等各方面都取得了显著成绩，为将北大建设成为世界一流大学奠定了坚实的基础。今天的北京大学已经成为国家培养高素质、创造性人才的摇篮、科学研究的前沿和知识创新的重要基地和国际交流的重要桥梁和窗口。
    </div>
  </div>
  <div class="panel panel-default col-sm-6 pull-right mt-26">
    <div class="panel-heading">热门新闻</div>
    <div class="panel-body">
      <ul>
        <li><%= link_to "这是热门新闻这是热门新闻这是热门新闻"%></li>
        <li><%= link_to "这是热门新闻这是热门新闻这是热门新闻"%></li>
        <li><%= link_to "这是热门新闻这是热门新闻这是热门新闻"%></li>
        <li><%= link_to "这是热门新闻这是热门新闻这是热门新闻"%></li>
        <li><%= link_to "这是热门新闻这是热门新闻这是热门新闻"%></li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default col-sm-12">
    <div class="panel-heading">合作案例</div>
    <div class="panel-body">
      <div class="col-sm-2">
        <%= link_to image_tag("zhongde/hezuo.png", class: "img-responsive")%>
      </div>
      <div class="col-sm-2">
        <%= link_to image_tag("zhongde/hezuo.png", class: "img-responsive")%>
      </div>
      <div class="col-sm-2">
        <%= link_to image_tag("zhongde/hezuo.png", class: "img-responsive")%>
      </div>
      <div class="col-sm-2">
        <%= link_to image_tag("zhongde/hezuo.png", class: "img-responsive")%>
      </div>
      <div class="col-sm-2">
        <%= link_to image_tag("zhongde/hezuo.png", class: "img-responsive")%>
      </div>
      <div class="col-sm-2">
        <%= link_to image_tag("zhongde/hezuo.png", class: "img-responsive")%>
      </div>
    </div>
  </div>
</div>

