<div class="report-form">
	<input class="report-form-input" placeholder="输入关键字查找">
	<label for="inputEmail3">站内搜索</label>
</div>
<div class="intro">
	<h4 class="intro_title"><span>研究会简介</span></h4>
	<p class="intro_text">
		<%=link_to "#" do %>
		<span>经上海市教育委员会同意，根据上海市职业教育协会《关于同意建立“高职高专教学工作专委会”的决定》（沪职〔2013〕6号）文件精神，上海市职业教育协会高职高专</span>
		<span>&nbsp;>>详细</span>
		<% end %>
	</p>
</div>
<%=link_to "#" do %>
	<%=image_tag "h_people_btn.jpg", width:"100%", class:"h_people" %>
<% end %>
<div class="special-title special-title-t">
	专题互动
</div>
<div class="special-content">
	<%=link_to "#" do %><%=image_tag "h_right_btn3.jpg", width:"100%" %><% end %>
	<%=link_to "#" do %><%=image_tag "h_right_btn4.jpg", width:"100%" %><% end %>
	
</div>
<div class="special-title">
	秘书处事务
</div>
<div class="special-content">
	<%=link_to "#" do %><%=image_tag "h_right_btn1.jpg", width:"100%" %><% end %>
	<%=link_to "#" do %><%=image_tag "h_right_btn2.jpg", width:"100%" %><% end %>
	
</div>
<div class="special-title">
	友情链接
</div>
<div class="special-content">
	<div class="dropdown">
	  <button class="btn btn-default btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    ----------会员单位----------
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu link-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">上海医药高等专科学校</a></li>
	    <li><a href="#">上海旅游高等专科学校</a></li>
	    <li><a href="#">上海公安高等专科学校</a></li>
	    <li><a href="#">更多会员单位......</a></li>
	  </ul>
	</div>
	<div class="dropdown">
	  <button class="btn btn-default btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    ----------合作企业----------
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu link-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">上海仪电控股(集团)公司</a></li>
	    <li><a href="#">上海仪电电子(集团)公司</a></li>
	    <li><a href="#">上海仪电电子(集团)公司</a></li>
	    <li><a href="#">更多合作单位......</a></li>
	  </ul>
	</div>
	<div class="dropdown">
	  <button class="btn btn-default btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    ----------相关链接----------
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu link-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">中国高职高专网</a></li>
	    <li><a href="#">上海市职业教育协会</a></li>
	    <li><a href="#">更多......</a></li>
	  </ul>
	</div>
</div>