<table class="border-table">
  <tr>
    <th>计划</th>
    <th width="20%">培训班</th>
    <th>培训地点</th>
    <th>开班起止时间</th>
    <th>班级状态</th>
    <th>报名状态</th>
    <th>来班</th>
    <th>日志</th>
    <th>证书编号</th>
    <th>操作</th>
  </tr>
  <% @already_user_training_courses.each do |user_training_course|%>
    <tr>
      <td><%= user_training_course.try(:training_course).created_at.strftime("%Y")%></td>
      <td><%= user_training_course.try(:training_course).name%></td>
      <td><%= user_training_course.try(:training_course).training_address%></td>
      <td><%= user_training_course.try(:training_course).start_time.strftime("%Y-%m-%d")%><br><%= user_training_course.try(:training_course).end_time.strftime("%Y-%m-%d")%></td>
      <td>已结束</td>
      <td class="check"><%= user_training_course.state ? "审核通过" : "审核失败"%></td>
      <td>是</td>
      <td><a href="#">查看</a></td>
      <td>000390324</td>
      <td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><br>评价</td>
    </tr>
  <% end %>
</table>