<h5 class="text-center">正在进行的课程</h5>
<table class="border-table">
  <tr>
    <th>计划</th>
    <th width="20%">培训班</th>
    <th>培训地点</th>
    <th>开班起止时间</th>
    <th>班级状态</th>
    <th>学习状态</th>
    <th>日志</th>
    <th>课程资源</th>
    <th>操作</th>
  </tr>
  <% @on_user_training_courses.each do |user_training_course|%>
    <tr>
      <td><%= user_training_course.try(:training_course).created_at.strftime("%Y") %></td>
      <td><%= user_training_course.try(:training_course).name %></td>
      <td><%= user_training_course.try(:training_course).training_address %></td>
      <td><%= user_training_course.try(:training_course).start_time.strftime("%Y-%m-%d")%><br><%= user_training_course.try(:training_course).end_time.strftime("%Y-%m-%d")%></td>
      <td>正在进行</td>
      <td class="check">
        <%= user_training_course.user_training_course_on_going %>
      </td>
      <td>
        <%= link_to training_course_journals_path(user_training_course.training_course) do %>
          查看[ <span class="text-danger"><%= Journal.journal_amount(user_training_course.user.id, user_training_course.training_course.id) %></span> ]
        <% end %>
      </td>
      <td>
        <% if user_training_course.state == true %>
          <%= link_to "下载", training_course_course_resources_path(user_training_course.training_course), remote: true %>
        <% else %>
          <%= link_to "下载", "javascript:void(0);", onclick: "alert('您的报名状态尚未通过管理员审核！')" %>
        <% end %>
      </td>
      <td>
        <%= link_to print_training_course_path(user_training_course.training_course, format: 'pdf'), title: "打印" do%>
          打印报名表
        <% end %>
        <!-- <br>
        <small><%#= link_to "打印须知", "javascript:void(0);", onclick: "alert('温馨提示：点击链接上面打印图标进入打印页面，使用浏览器自带打印功能快捷键为ctrl+p');", class: "text-muted"%></small> -->
      </td>
    </tr>
  <% end %>
</table>
<h5 class="text-center">即将开始的课程</h5>
<table class="border-table">
  <tr>
    <th>计划</th>
    <th width="20%">培训班</th>
    <th>培训地点</th>
    <th>开班起止时间</th>
    <th>班级状态</th>
    <th>学习状态</th>
    <th>项目负责人</th>
  </tr>
  <% @be_user_training_courses.each do |user_training_course|%>
    <tr>
      <td><%= user_training_course.try(:training_course).created_at.strftime("%Y") %></td>
      <td><%= user_training_course.try(:training_course).name %></td>
      <td><%= user_training_course.try(:training_course).training_address %></td>
      <td><%= user_training_course.try(:training_course).start_time.strftime("%Y-%m-%d")%><br><%= user_training_course.try(:training_course).end_time.strftime("%Y-%m-%d")%></td>
      <td>即将开始</td>
      <td class="check"><%= user_training_course.user_training_course_status %></td>
      <td><%= user_training_course.try(:training_course).project_leader %></td>
    </tr>
  <% end %>
</table>