<div id="selfLeftMenu" class="content text-center">
  <div class="left-head"><strong>培训计划</strong></div>
  <div class="left-body">
    <ul class="nav nav-stacked">
      <li role="presentation"><%= link_to "我的课程", course_user_index_path %></li>
      <hr class="divider">
      <li role="presentation"><%= link_to "我的作业", work_user_index_path %></li>
      <hr class="divider">
      <li role="presentation"><%= link_to "我的日志", journal_user_index_path %></li>
      <hr class="divider">
      <li role="presentation">
        <%= link_to message_user_index_path do %>
          我的消息 <span class="badge user-badge"><%= current_user.user_messages.where(status: "unread").count == 0 ? "" : current_user.user_messages.where(status: "unread").count %></span>
        <% end %>
      </li>
      <hr class="divider">
      <li role="presentation"><%= link_to "我的签到", "javascript:void(0);", onclick: "alert('模块开发中...');" %></li>
      <hr class="divider">
      <li role="presentation"><%= link_to "个人信息", my_user_index_path %></li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $("#selfLeftMenu a").removeClass("active");
    $("#selfLeftMenu a:eq(<%= self_left_menu_index %>)").addClass("active");
  });
</script>