<br>
<div class="row">
  <div class="col-sm-3 text-right">
    * 注册邮箱：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.email %>
  </div>
  <div class="col-sm-2 text-right">
    * 所在学校：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.school %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    * 真实姓名：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.name %>
  </div>
  <div class="col-sm-2 text-right">
    * 所在院系：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.academy %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    * 身份证号：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.ID_number %>
  </div>
  <div class="col-sm-2 text-right">
    * 所属专业：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.profession %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    * 性别：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= User::UserGender[current_user.gender.to_sym] %>
  </div>
  <div class="col-sm-2 text-right">
    * 民族：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.nation %>
  </div>
</div>
 <hr>
<div class="row">
  <div class="col-sm-3 text-right">
    * 出生日期：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.birth.try(:strftime, "%F") %>
  </div>
  <div class="col-sm-2 text-right">
    * 职称：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.position_name %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    * 通信地址：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.address %>
  </div>
  <div class="col-sm-2 text-right">
    * 职务：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.position %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    * 邮政编码：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.zip_code %>
  </div>
  <div class="col-sm-2 text-right">
    * 电话号码：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.telephone %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    * 手机号码：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.phone %>
  </div>
  <div class="col-sm-2 text-right">
    * 职业资格证：
  </div>
  <div class="col-sm-3 text-left text-primary">
    <%= current_user.certificate %>(<%= current_user.country %>)
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    职位分类：
  </div>
  <div class="col-sm-8 text-left text-primary">
    <%= raw(User::ROLE[current_user.role.to_sym].try(:gsub, /\r\n/,"<br>")) if current_user.role %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    历史培训情况：
  </div>
  <div class="col-sm-8 text-left text-primary">
    <%= raw(current_user.his_train.try(:gsub, /\r\n/,"<br>")) %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    简介：
  </div>
  <div class="col-sm-8 text-left text-primary">
    <%= raw(current_user.summary.try(:gsub, /\r\n/,"<br>")) %>
  </div>
</div>
<br>
<p class="text-center">
  <button id="editInfoBtn" class="btn btn-primary">修改信息</button>
  <%= link_to("修改密码", edit_user_registration_path, class: "btn btn-info")  %>
</p>