<%= simple_form_for(@user, as: :user, url: user_path(@user.id), wrapper: :horizontal_form, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, required: true, placeholder: false, readonly: true %>
  <%#= f.input :password, required: false, placeholder: "不修改密码时请不要填写"  %>
  <%#= f.input :password_confirmation, required: false, placeholder: "不修改密码时请不要填写" %>
  <%= f.input :name, required: true %>
  <%= f.input :ID_number, required: true %>
  <%= f.input :nation, required: true %>
  <%= f.input :gender, required: true, collection: User::UserGender.invert, as: :radio_buttons, wrapper: :horizontal_radio_and_checkboxes, item_wrapper_class: "radio-inline" %>
  <%= f.input :birth, as: :string, required: true %>
  <%#= f.input :city, required: true, input_html: {class: "city-select"}, wrapper_html: {class: "form-group select required user_city city-group"}, collection: ChinaCity.list ,as: :select, prompt: true %>
  <%= f.input :school, required: true, as: :select, collection: all_school, prompt: true %>
  <%= f.input :academy, required: true %>
  <%= f.input :profession, label: '所属专业', required: true %>
  <%= f.input :role, required: true, as: :select, collection: User::ROLE.invert, prompt: true %>
  <%#= f.input :certificate %>
  <%#= f.input :country,as: :select, collection: [['中国','中国'],['美国','美国']], label_html: {class: 'sr-only'}, prompt: "国家" %>
  <div class="form-group string optional user_certificate">
    <label class="string optional col-sm-3 control-label" for="user_certificate">职业资格证书</label>
    <div class="col-sm-8">
      <%= f.input_field :certificate, class: "string optional form-control" %>
      <%= f.select(:country, [['国家',''],['中国','中国'],['美国','美国']], {},
         class: "select optional form-control pull-right") %>
    </div>
  </div>
  <%= f.input :position_name, required: true %>
  <%= f.input :position, required: true %>
  <%= f.input :his_train, required: false, input_html: {rows: 7} %>
  <%= f.input :address, required: true %>
  <%= f.input :zip_code, required: true %>
  <%= f.input :telephone, required: true %>
  <%= f.input :phone, required: true %>
  <%= f.input :qq_no, required: false %>
  <%= f.input :summary, required: false, input_html: {rows: 7} %>
  <%#= f.input :captcha, required: false %>
  <p class="text-center">
    <%= f.button :submit, "确认提交", class: "btn btn-primary", data: { disable_with: "信息修改中..." } %>
    <button id="cancelInfoBtn" class="btn btn-danger" type="button">取消编辑</button>
  </p>
<% end %>