<div class="container-fluid">
  <div class="wrapper">
    <div class="row">
      <div class="personal_center right_message_tab col-md-3">
        <%= render "personal_nav"%>
      </div>
      <div class="col-sm-9 courses">
        <div class="panel panel-default course-panel">
          <div class="panel-heading">
            <%= render 'course_nav'%>
          </div>
          <div class="panel-body course-content">
            <table class="table table-bordered">
              <tr>
                <th>计划</th>
                <th width="20%">培训班</th>
                <th>培训地点</th>
                <th>开班起止时间</th>
                <th>班级状态</th>
                <th>报名状态</th>
                <th>日志</th>
                <th>证书编号</th>
                <th colspan="2">操作</th>
              </tr>
              <% @already_user_training_courses.each do |user_training_course|%>
                <tr>
                  <td><%= user_training_course.try(:training_course).created_at.strftime("%Y")%></td>
                  <td><%= user_training_course.try(:training_course).name%></td>
                  <td><%= user_training_course.try(:training_course).training_address%></td>
                  <td><%= user_training_course.try(:training_course).start_time.strftime("%Y-%m-%d")%><br><%= user_training_course.try(:training_course).end_time.strftime("%Y-%m-%d")%></td>
                  <td>已结束</td>
                  <td class="check"><%= user_training_course.user_training_course_status %></td>
                  <td><%= link_to "查看", training_course_journals_path(user_training_course.training_course)%></td>
                  <td>000390324</td>
                  <td>
                    <%= link_to new_training_course_student_feedback_path(user_training_course.try(:training_course)) do %>
                      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><br>学员反馈
                    <% end %>
                  </td>
                  <td>
                    <%= link_to new_training_course_appraise_path(user_training_course.try(:training_course)) do %>
                      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><br>学员评师
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>