<% @user_training_courses.each do |user_training_course| %>
  <tr>
    <td><%= user_training_course.try(:user).try(:name)%></td>
    <td><%= user_training_course.try(:user).try(:email)%></td>
    <td><%= User::UserGender[user_training_course.try(:user).try(:gender).to_sym]%></td>
    <td><%= user_training_course.try(:user).try(:position)%></td>
    <td><%= user_training_course.try(:user).try(:address)%></td>
    <td><%= user_training_course.try(:user).try(:phone)%><br><%= user_training_course.try(:user).try(:email)%></td>
    <td>[学校]<%= user_training_course.try(:user).try(:school)%><br>[院系]<%= user_training_course.try(:user).try(:academy)%></td>
    <td>已报名</td>
    <td><%= user_training_course.try(:created_at).strftime("%Y-%m-%d %H:%M:%S") %></td>
    <td>
      <%= link_to "备注信息", edit_admin_panel_training_course_user_training_course_path(@training_course, user_training_course), class: "btn btn-xs btn-success"%>
    </td>
    <td>
      <% if user_training_course.state %>
        <%= link_to "已通过", disapplied_admin_panel_user_training_course_path(user_training_course), method: :patch, data: {confirm: '确认撤销通过该报名吗？'}, class: "btn btn-xs btn-success"%>
      <% else  %>
        <%= link_to "未通过", applied_admin_panel_user_training_course_path(user_training_course), method: :patch, data: {confirm: '确认通过该报名吗？'}, class: "btn btn-xs btn-danger"%>
      <% end %>
    </td>
  </tr>
<% end %>