<ol class="breadcrumb">
  <li>
    <%= link_to "后台", admin_panel_root_path  %>
  </li>
  <li>
    <%= @training_course.name %>
  </li>
  <li>报名列表</li>
</ol>

<div class="grades-main-content">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">搜索栏</h3>
    </div>
    <div class="panel-body">
      <%= form_tag admin_panel_training_course_user_training_courses_path(@training_course), method: :get do %>
        <div class="col-sm-3">
          <div class="form-group">
           <%= text_field_tag :keyword, nil, class: "form-control", placeholder: '请输入关键字' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <%= submit_tag "搜索", class: "btn primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <ul class="nav nav-pills nav-content-menu">
        <li role="presentation" class="">
          <!-- 区分秘书处和其它角色查看培训班的路径 -->
          <% if can? :show, TrainingCourse %>
            <%= link_to admin_panel_notification_training_course_path(@training_course.notification, @training_course) do %>
              <span>培训班信息</span>
            <% end %>
          <% else %>
            <%= link_to detail_admin_panel_training_course_path(@training_course) do %>
              <span>培训班信息</span>
            <% end %>
          <% end %>
        </li>
        <li role="presentation" class="<%= params[:controller]=='admin_panel/user_training_courses' ? 'active' : ''%>">
          <%= link_to admin_panel_training_course_user_training_courses_path(@training_course) do %>
           <span class="">学员报名列表</span>
          <% end %>
        </li>
        <li role="presentation" class="<%= params[:controller]=='admin_panel/tasks' ? 'active' : ''%>">
          <%= link_to admin_panel_training_course_tasks_path(@training_course) do %>
           <span class="">布置作业列表</span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <table class="table table-condensed table-bordered" style="margin-top: 10px;">
        <thead>
          <tr>
            <th class="text-center">
               <input type="checkbox" id="js-checked-all">
            </th>
            <th>分组</th>
            <th>组长</th>
            <th>姓名</th>
            <th>账号</th>
            <th>性别</th>
            <th>地址</th>
            <% if can? [:add, :added], UserTrainingCourse %>
              <th>证书编号</th>
            <% end %>
            <th>日志</th>
            <% if can? [:applied, :disapplied, :add, :added], UserTrainingCourse %>
              <th colspan="3">操作</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <div class="btn-group" role="group">
            <%= link_to("全部老师", admin_panel_training_course_user_training_courses_path(@training_course), class: "btn #{params[:role].nil? ? 'btn-primary' : 'btn-default'}") %>&nbsp;
            <%= link_to("专职教师", admin_panel_training_course_user_training_courses_path(@training_course, role: "full_time"),
                        class: "btn #{params[:role] == 'full_time' ? 'btn-primary' : 'btn-default'}") %>&nbsp;
            <%= link_to("兼职教师", admin_panel_training_course_user_training_courses_path(@training_course, role: "part_time"),
                      class: "btn #{params[:role] == 'part_time' ? 'btn-primary' : 'btn-default'}") %>&nbsp;
          </div>
          <div class="btn-group" role="group">
            <%= link_to("日志达标教师【#{@reached_user_training_courses_length}】", admin_panel_training_course_user_training_courses_path(@training_course, status: 'reached'),class: "btn #{params[:status] == 'reached' ? 'btn-primary' : 'btn-default'}") %>&nbsp;
            <%= link_to("日志未达标教师【#{@unreached_user_training_courses_length}】", admin_panel_training_course_user_training_courses_path(@training_course, status: 'unreached'), class: "btn #{params[:status] == 'unreached' ? 'btn-primary' : 'btn-default'}") %>&nbsp;
          </div>
          <% if params[:group].blank? && params[:status].blank? && params[:role].blank? %>
            <%= link_to("导出到Excel", admin_panel_training_course_user_training_courses_path(@training_course, format: 'xls'),
                      class: "btn btn-info pull-right") if current_admin.role == 'system' %>
          <% end %>
          <br>
          <br>
          <%= render partial: "user_training_course", locals: {user_training_courses: @user_training_courses} %>
        </tbody>
      </table>
      <div class="text-center">
        <%= paginate @user_training_courses %>
      </div>
    </div>
  </div>
<div>