<div class="grades-main-content">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">搜索栏</h3>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <label for="trainName">姓名</label>
          <input type="text" class="form-control" id="trainName">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail2">状态</label>
          <select class="form-control">
            <option>全部</option>
            <option>草稿</option>
            <option>报名</option>
            <option>开班</option>
            <option>结课</option>
            <option>取消</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputName2">报名开始时间</label>
          <input type="text" class="form-control" id="exampleInputName2">
        </div>
        <div class="form-group">
          <label for="exampleInputName2">报名结束时间</label>
          <input type="text" class="form-control" id="exampleInputName2">
        </div>
        <button type="submit" class="btn btn-search">搜索</button>
      </form>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">培训报名</h3>
    </div>
    <div class="panel-body">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>姓名</th>
            <th>账号</th>
            <th>性别</th>
            <th>职称</th>
            <th>省份</th>
            <th>联系方式</th>
            <th>地址</th>
            <th>状态</th>
            <th>创建&amp;修改时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @user_training_courses.each do |user_training_course| %>
            <tr>
              <td><%= user_training_course.try(:user).try(:name)%></td>
              <td><%= user_training_course.try(:user).try(:email)%></td>
              <td><%= User::UserGender[user_training_course.try(:user).try(:gender).to_sym]%></td>
              <td><%= user_training_course.try(:user).try(:position)%></td>
              <td><%= user_training_course.try(:user).try(:address)%></td>
              <td><%= user_training_course.try(:user).try(:phone)%><br><%= user_training_course.try(:user).try(:email)%></td>
              <td>[学校]<%= user_training_course.try(:user).try(:school)%><br>[院系]<%= user_training_course.try(:user).try(:academy)%></td>
              <td>已报名</td>
              <td><%= user_training_course.try(:created_at).strftime("%Y-%m-%d %H:%M:%S") %></td>
              <td>
                <% if user_training_course.state %>
                  <%= link_to "已通过", disapplied_admin_panel_user_training_course_path(user_training_course), method: :patch, data: {confirm: '确认撤销通过该报名吗？'}, class: "btn btn-xs btn-success"%>
                <% else  %>
                  <%= link_to "未通过", applied_admin_panel_user_training_course_path(user_training_course), method: :patch, data: {confirm: '确认通过该报名吗？'}, class: "btn btn-xs btn-danger"%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<div>