<%= form_for @journal do |f|%>
  <p class="text-danger error-alert"></p>
  <div class="form-group">
    <label for="exampleInputEmail1">培训班：</label>
    <%= f.collection_select :training_course_id, TrainingCourse.create_journal_list, :id, :name, prompt: "请选择已报名培训班", class: "form-control"%>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">培训内容：</label>
    <%= f.text_area :content, size: "20x7", class: "form-control"%>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">日期：</label>
    <%= f.date_field :add_date, class: "form-control"%>
  </div>

  <div class="row">
    <div class="text-center">
      <%= f.submit '确认提交', data: { disable_with: "日志提交中..." }, class: "btn btn-info js-submit"%>
    </div>
  </div>
<% end %>

<!-- 仅适用于新增页面 -->
<% if params[:controller]=="journals" && params[:action] == "new"%>
  <script type="text/javascript">
    $(function(){
      $(".js-submit").click(function(){
        var oSelect = $("#journal_training_course_id option:gt(0):selected").length;  //option中去除prompt影响
        var oContent = $("#journal_content").val();
        var oDate = $("#journal_add_date").val();
        if(oSelect === 0){
          $(".error-alert").text("请选择培训班！");
          return false;
        }else if(!oContent){
          $(".error-alert").text("请输入培训内容！");
          return false;
        }else if(!oDate){
          $(".error-alert").text("请输入添加日期！");
          return false;
        }
      });
    });
  </script>
<% end %>