<ol class="breadcrumb">
  <li>
    <%= link_to "后台", admin_panel_root_path  %>
  </li>
  <li>
    <%= link_to "培训资料", admin_panel_materials_path %>
  </li>
  <li class="active">列表</li>
</ol>

<div class="main-content">
  <div class="panel panel-default">
    <div class="panel-heading panel-active" style="overflow: hidden;">
      <span class="pull-left">培训资料</span>
      <%= link_to new_admin_panel_material_path, class: "btn btn-xs pull-right btn-active", 'data-no-turbolink' => true do %>
         <span class="glyphicon glyphicon-plus-sign"></span> 新建
      <% end %>
    </div>
    <div class="panel-body panel-default-bg">
      <table class="table table-condensed table-bordered table-hover">
        <thead>
          <tr>
          <th class="col-sm-2 text-center">标题</th>
          <th class="col-sm-2 text-center">分类</th>
          <th class="col-sm-2 text-center">年份</th>
          <th class="col-sm-2 text-center">附件</th>
          <th class="text-center" colspan="2">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @materials.each do |material|%>
            <tr class="tr-default-bg">
              <td class="text-center"><%= material.title.try(:truncate, 15) %></td>
              <td class="text-center"><%= Material::ListCatalog[material.catalog.to_sym] if material.catalog  %></td>
              <td class="text-center"><%= material.mdate %></td>
              <td>
                <% if material.try(:attachment).present? %>
                  <%= link_to(material.try(:attachment).try(:avatar_file_name), download_admin_panel_material_path(material)) %>
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to "修改", edit_admin_panel_material_path(material), 'data-no-turbolink' => true %>
              </td>
              <td class="text-center">
                <%= link_to '删除', admin_panel_material_path(material), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center">
        <%= paginate @materials %>
     </div>
    </div>
  </div>
</div>
