<div class="grades-main-content">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">搜索栏</h3>
    </div>
    <div class="panel-body">
      <div class="container">
        <h5 class="text-info text-center">（国内）（重庆）信息安全技术专业培训班    （2015年7月12日至8月1日）     （项目编号：22151007）</h5>
        <div class="row">
          <div class="col-sm-12">
            &nbsp;&nbsp;培训内容主要涉及职教理念、网络与信息安全专业知识与技能、教学能力三大模块，采用灵活多样的研修形式和方法。
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">（一）职教理念</div>
          <div class="col-sm-9">
            执教理念的提升，主要聘请市内外对高等职业教育研究有较高造诣的专家，以专题讲座的形式为学员进行系统讲授。
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">（二）专业知识与技能训练</div>
          <div class="col-sm-9">
            聘请企业一线优秀的高技能人才和我校专业动手能力强的教师，到学校生产性实训基地和工程技术中心，以现场观摩、学员亲自体验的教学形式指导学员提升专业技术水平。
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">（三）教学能力</div>
          <div class="col-sm-9">
            培养学员人才培养模式设计、教学模式改革与创新、高职精品课程与专业教学资源库建设、人才培养方案编制的思路和方法。
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading have-menu">
      <ul id="detailMenu" class="nav nav-pills nav-content-menu">
        <li class="active"><a href="#">培训班级信息</a></li>
        <li><a href="#">培训项目信息</a></li>
        <li><a href="#">机构背景</a></li>
        <li><a href="#">培训目标</a></li>
        <li><a href="#">培训内容</a></li>
        <li><a href="#">考核方法</a></li>
        <li><a href="#">授课教师</a></li>
      </ul>
    </div>
    <div id="gradeDetailContent" class="panel-body">
      <!-- ================培训班级信息=============== -->
      <div class="grade-detail-info">
        <%= render "/admin_panel/grades/detail//grade_info" %>
      </div>
      <!-- ================培训班级信息=============== -->

      <!-- ================培训项目信息=============== -->
      <div class="grade-detail-info" style="display: none;">
        <%= render "/admin_panel/grades/detail//project_info" %>
      </div>
      <!-- ================培训项目信息=============== -->

      <!-- ================机构背景=============== -->
      <div class="grade-detail-info" style="display: none;">
        <%= render "/admin_panel/grades/detail//background" %>
      </div>
      <!-- ================机构背景=============== -->

      <!-- ================培训目标=============== -->
      <div class="grade-detail-info" style="display: none;">
        <%= render "/admin_panel/grades/detail//target" %>
      </div>
      <!-- ================培训目标=============== -->

      <!-- ================培训内容=============== -->
      <div class="grade-detail-info" style="display: none;">
        <%= render "/admin_panel/grades/detail//content" %>
      </div>
      <!-- ================培训内容=============== -->

      <!-- ================考核方法=============== -->
      <div class="grade-detail-info" style="display: none;">
        <%= render "/admin_panel/grades/detail//menus" %>
      </div>
      <!-- ================考核方法=============== -->

      <!-- ================授课教师=============== -->
      <div class="grade-detail-info" style="display: none;">
        <%= render "/admin_panel/grades/detail//teachers" %>
      </div>
      <!-- ================授课教师=============== -->
    </div>
  </div>
<div>

<%= content_for :scripts do %>
  <%= javascript_include_tag "admin_panel/grades", 'data-turbolinks-track' => true  %>
<% end %>