<div class="container">
  <div class="col-sm-2 listLeft">
    <ul class="list-group">
      <% @material_dates.each do |material| %>
        <li class="list-group-item text-center" style="padding: 5px 15px;"><%= link_to material.mdate + "年", list_materials_path(date: material.mdate), class: "center-block" %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-10">
    <div class="col-sm-12 news-show-content">
      <div class="col-sm-12 report-show-title">
        <div class="col-sm-2" style="padding-top: 4px;">培养方案</div>
      </div>
      <div class="col-sm-12 report-show-content">
        <% unless @materials.present? %>
          <p class="text-center">暂时没有下载资料！</p>
        <% else %>
          <% @materials.each do |material| %>
            <div class="col-sm-12 news-list">
               <%=image_tag "h_news_icon.gif", class: "news_icon" %>
               <%= link_to "#{material.title}", download_material_path(material) %>&nbsp;
               <%=image_tag "news_t.png" %><span class="pull-right news-time">
               <%= link_to download_material_path(material), style: "margin-right: 10px;" do %>
                 <span class="glyphicon glyphicon-download"></span> 下载
               <% end -%>
               <%= link_to pdfjs.full_path(file: material.attachment.avatar.url), style: "margin-right: 30px;" do %>
                 <span class="glyphicon glyphicon-eye-open"></span> 预览
               <% end -%>
               <%= material.mdate %>&nbsp;</span>
               <hr class="news-hr">
            </div>
          <% end %>
          <div class="col-sm-12 text-center"><%= paginate @materials %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>