<div class="panel-main">
  <div class="panel-bg gap-80">友情链接</div>
  <div class="panel-body bordered">
    <div class="row">
		  <div class="col-xs-6 col-md-2 col-sm-2">
		    <a href="http://www.moe.gov.cn" target="_blank" class="thumbnail fix-height">
		      <%= image_tag("flink-1.png")%>
		    </a>
		  </div>
		  <div class="col-xs-6 col-md-2 col-sm-2">
		    <a href="http://www.tech.net.cn/web/index.aspx" target="_blank" class="thumbnail fix-height">
		      <%= image_tag("flink-2.png")%>
		    </a>
		  </div>
		  <div class="col-xs-6 col-md-2 col-sm-2">
		    <a href="http://www.icve.com.cn/portal/" target="_blank" class="thumbnail fix-height">
		      <%= image_tag("flink-3.png")%>
		    </a>
		  </div>
		  <div class="col-xs-6 col-md-2 col-sm-2">
		    <a href="http://www.enetedu.com" target="_blank" class="thumbnail fix-height">
		      <%= image_tag("flink-4.png")%>
		    </a>
		  </div>
		  <div class="col-xs-6 col-md-2 col-sm-2">
		    <a href="http://lm.hvett.com.cn/site/index.page" target="_blank" class="thumbnail fix-height">
		      <%= image_tag("flink-5.png")%>
		    </a>
		  </div>
		  <div class="col-xs-6 col-md-2 col-sm-2">
		    <a href="http://www.cchve.com.cn/hep/plugin/gaozhi/index/index.jsp" target="_blank" class="thumbnail fix-height">
		      <%= image_tag("flink-6.png")%>
		    </a>
		  </div>
		</div>
  </div>
</div>