<div class="panel-main">
  <div class="panel-bg gap-80">友情链接</div>
  <div class="panel-body bordered">
    <div class="mr_frbox">
			<%= image_tag("left-arrow.png", class: "mr_frBtnL prev")%>
			<div class="mr_frUl">
				<ul>
					<li><%= link_to image_tag("footer-1.png"), "http://www.moe.gov.cn/", target: "_blank" %></li>
					<li><%= link_to image_tag("footer-2.png"), "http://www.hvett.com.cn/", target: "_blank" %></li>
					<li><%= link_to image_tag("footer-3.png"), "http://www.tech.net.cn/web/index.aspx", target: "_blank" %></li>
					<li><%= link_to image_tag("footer-4.png"), "http://www.gzgz.edu.sh.cn/SHGZJYW/Web/_Index.aspx?ReturnUrl=%2f", target: "_blank" %></li>
					<li><%= link_to image_tag("footer-5.png"), "http://www.shmec.gov.cn/", target: "_blank" %></li>
				</ul>
			</div>
			<%= image_tag("right-arrow.png", class: "mr_frBtnR next")%>
		</div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
  	$(".mr_frbox").slide({
			mainCell:".mr_frUl ul",
			autoPage:true,
			effect:"leftLoop",
			autoPlay:true,
			vis:4
		});
  });
</script>