<!-- 内容部分开始 -->
<div class="container">
		<div class="col-xs-12 content">
			<div class="report-index col-xs-8">
			<!-- 轮播图开始 -->
				<div id="carousel-example-generic" class="carousel slide lunbo" data-ride="carousel">
				  <!-- Wrapper for slides -->
				  <ol class="carousel-indicators">
				    <% @events_with_image.each_with_index do |event, index| %>
					    <% if event.picture_url && index == 0 %>
							  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<% elsif event.picture_url %>
							  <li data-target="#carousel-example-generic" data-slide-to="<%= index %>"></li>
							<% end %>
						<% end %>
					</ol>
				  <div class="carousel-inner" role="listbox">
				    <% @events_with_image.each_with_index do |event, index| %>
				    <% if index == 0 %>
					    <div class="item active">
					      <%= image_tag( event.picture_url, width: "100%")%>
					    </div>
					  <% else %>
					    <div class="item">
					      <%= image_tag( event.picture_url, width: "100%")%>
					    </div>
					  <% end %>
				  <% end %>
				  </div>
				</div>
			<!-- 轮播图结束 -->
				<div class="events-list col-xs-12">新闻动态
          <%= link_to "更多>>", list_reports_path(classify: 2), class: 'more pull-right'%>
				</div>
				<% @headline.each do |event| %>
				<%=link_to event_path(event) do %>
				<div class="col-xs-12 news-list">
				  <%=image_tag "h_news_icon.gif", class: "news_icon" %>
				  <%= link_to truncate(event.title, length: 40), event_path(event) %>&nbsp;
				  <% if event_in_two_weeks(event) %>
				    <%=image_tag "news_t.png" %>
				  <% end %>
				  <span class="pull-right news-time"><%= event.created_at.strftime("%F") %>&nbsp;</span>
				<hr class="news-hr">
				</div>
				<% end %>
				<% end %>

        <div class="events-list col-xs-12">活动简报
          <%= link_to "更多>>", list_reports_path(classify: 3), class: 'more pull-right'%>
				</div>
				<div class="bulletin col-xs-12">
				  <% @activities.each do |event| %>
					  <%=link_to event_path(event) do %>
							<div class="col-xs-6 bulletin-list">
								<div class="col-xs-4 bulletin-picture">
								<%= image_tag( event.picture_url .present? ? event.picture_url : "picture_min.jpg", width: "100%")%>
								</div>
							  <div class="col-xs-8 bulletin-text">
									<h5 class="bull-text-t col-xs-12"><%= link_to "#{event.title}", event_path(event) %></h5>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;<%= raw event.content.try(:truncate, 30) %></p>
							  </div>
						  </div>
					  <% end %>
				  <% end %>
				</div>
			</div>

			<div class="col-xs-4 right-tab">
				<%= render "share/right_tab" %>
			</div>
		</div>
</div>
<!-- 内容部分结束 -->
<script type="text/javascript">
	$(function(){
		$('.carousel').carousel();
	})
</script>
