<!-- 内容部分开始 -->
<div class="container">
		<div class="col-xs-12 content">
			<div class="report-index col-xs-8">
				<div class="events-list col-xs-12"><%=link_to "搜索结果", events_path %></div>
				<% @events.each do |event| %>
				<div class="col-xs-12 news-list"><%=image_tag "h_news_icon.gif", class:"news_icon" %><%= link_to "#{event.title}", event_path(event) %>&nbsp;<%=image_tag "news_t.png" %><span class="pull-right news-time"><%= event.created_at.strftime("%F") %>&nbsp;</span>
				<hr class="news-hr">
				</div>
				<% end %>
			</div>
			<div class="col-xs-4 right-tab">
				<%= render "share/right_tab" %>
			</div>
		</div>
</div>
<!-- 内容部分结束 -->
