<!DOCTYPE html>
<html>
<head>
  <title>上海高等职业教育师资公共培训</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv.min' %>
    <%= javascript_include_tag 'respond.min' %>
  <![endif]-->
</head>
<body class="<%= controller.controller_path.gsub('/','__') + '__' + controller.action_name %>">
  <%= render "header"%>

  <!-- flash notice -->
  <%= render :partial => "/common/flash_message" %>
  <!-- flash notice -->

  <%= yield %>
  <%= render "footer"%>
</body>
</html>
